Repository papillonbits/papillonbits: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .js --ext .jsx packages/components/src/**/**/*.{js,jsx} --fix, prettier --write "packages/components/src/**/**/*.{js,jsx}", eslint --ext .js --ext .jsx packages/docs/src/**/**/*.{js,jsx} --fix, prettier --write "packages/docs/src/**/**/*.{js,jsx}", eslint --ext .js --ext .jsx packages/library/src/**/**/*.js --fix, prettier --write "packages/library/src/**/**/*.js", stylelint "packages/components/src/**/**/*.scss" --custom-syntax=postcss-scss --fix, prettier --write "packages/components/src/**/**/*.scss"

.lintstagedrc:

{
  "packages/components/src/**/*.{js,jsx}": [
    "eslint --ext .js --ext .jsx packages/components/src/**/**/*.{js,jsx} --fix",
    "prettier --write \"packages/components/src/**/**/*.{js,jsx}\"",
    "git add"
  ],
  "packages/docs/src/**/*.{js,jsx}": [
    "eslint --ext .js --ext .jsx packages/docs/src/**/**/*.{js,jsx} --fix",
    "prettier --write \"packages/docs/src/**/**/*.{js,jsx}\"",
    "git add"
  ],
  "packages/library/src/**/*.js": [
    "eslint --ext .js --ext .jsx packages/library/src/**/**/*.js --fix",
    "prettier --write \"packages/library/src/**/**/*.js\"",
    "git add"
  ],
  "packages/components/src/**/*.scss": [
    "stylelint \"packages/components/src/**/**/*.scss\" --custom-syntax=postcss-scss --fix",
    "prettier --write \"packages/components/src/**/**/*.scss\"",
    "git add"
  ]
}

add dependencies
  bumpstack.sh
  package-lock.json
  package.json
Due: none

setup typescript
  .eslintrc
  babel.config.js
  bumpstack.sh
  package-lock.json
  package.json
  tsconfig.json
  typings/declarations.d.ts
Due: none

setup components
  packages/components/.babelrc
  packages/components/.npmignore
  packages/components/README.md
  packages/components/bumpstack.sh
  packages/components/package-lock.json
  packages/components/package.json
Due: none

add primer
  packages/components/src/index.scss
  packages/components/src/index.ts
  packages/components/src/primer/Button/Button.scss
  packages/components/src/primer/Button/Button.tsx
  packages/components/src/primer/Button/index.ts
  packages/components/src/primer/Button/misc.scss
  packages/components/src/primer/index.scss
  packages/components/src/primer/index.ts
Due: stylelint "packages/components/src/**/**/*.scss" --custom-syntax=postcss-scss --fix, prettier --write "packages/components/src/**/**/*.scss"

out to build folder
  packages/components/package.json
Due: none

add lib
  lib/index.d.ts
  lib/primer/Button/Button.d.ts
  lib/primer/Button/index.d.ts
  lib/primer/index.d.ts
Due: none

bumpstack papillonbits
  package-lock.json
  package.json
Due: none

refine packages components index
  packages/components/src/index.js
  packages/components/src/index.scss
Due: eslint --ext .js --ext .jsx packages/components/src/**/**/*.{js,jsx} --fix, prettier --write "packages/components/src/**/**/*.{js,jsx}", stylelint "packages/components/src/**/**/*.scss" --custom-syntax=postcss-scss --fix, prettier --write "packages/components/src/**/**/*.scss"

refine components
  .eslintrc
  babel.config.js
  bumpstack.sh
  lib/index.d.ts
  lib/primer/Button/Button.d.ts
  lib/primer/Button/index.d.ts
  lib/primer/index.d.ts
  package-lock.json
  package.json
  packages/components/.babelrc
  packages/components/package.json
  packages/components/src/primer/Button/Button.jsx
  packages/components/src/primer/Button/Button.prop.js
  packages/components/src/primer/Button/Button.tsx
  packages/components/src/primer/Button/index.js
  packages/components/src/primer/index.js
  tsconfig.json
  typings/declarations.d.ts
Due: eslint --ext .js --ext .jsx packages/components/src/**/**/*.{js,jsx} --fix, prettier --write "packages/components/src/**/**/*.{js,jsx}"

extend regular and development dependencies
  bumpstack.sh
  package-lock.json
Due: none

setup packages css
  lerna.json
  packages/css/.npmignore
  packages/css/README.md
  packages/css/package.json
  packages/css/src/index.scss
Due: none

implement packages css
  packages/css/src/primer/base/base.scss
  packages/css/src/primer/base/index.scss
  packages/css/src/primer/base/kbd.scss
  packages/css/src/primer/base/normalize.scss
  packages/css/src/primer/base/octicons.scss
  packages/css/src/primer/base/typography-base.scss
  packages/css/src/primer/index.scss
  packages/css/src/primer/support/index.scss
  packages/css/src/primer/support/mixins/color-modes.scss
  packages/css/src/primer/support/mixins/layout.scss
  packages/css/src/primer/support/mixins/misc.scss
  packages/css/src/primer/support/mixins/typography.scss
  packages/css/src/primer/support/variables/layout.scss
  packages/css/src/primer/support/variables/misc.scss
  packages/css/src/primer/support/variables/typography.scss
  packages/css/src/primer/truncate/index.scss
  packages/css/src/primer/truncate/truncate.scss
  packages/css/src/primer/utilities/animations.scss
  packages/css/src/primer/utilities/borders.scss
  packages/css/src/primer/utilities/box-shadow.scss
  packages/css/src/primer/utilities/colors.scss
  packages/css/src/primer/utilities/details.scss
  packages/css/src/primer/utilities/flexbox.scss
  packages/css/src/primer/utilities/index.scss
  packages/css/src/primer/utilities/layout.scss
  packages/css/src/primer/utilities/margin.scss
  packages/css/src/primer/utilities/padding.scss
  packages/css/src/primer/utilities/typography.scss
  packages/css/src/primer/utilities/visibility-display.scss
Due: none

extend regular and development dependencies
  package.json
Due: none

update regular and development dependencies
  package-lock.json
  packages/css/package-lock.json
Due: none

refine scripts
  package.json
Due: none

v0.1.0
  lerna.json
  packages/components/package-lock.json
  packages/components/package.json
  packages/css/package-lock.json
  packages/css/package.json
Due: none

install storybook
  bumpstack.sh
  package-lock.json
  package.json
Due: none

setup storybook
  .storybook/develop/main.js
  .storybook/develop/manager.js
  .storybook/develop/preview.js
  .storybook/main.js
  .storybook/manager.js
  .storybook/preview.js
  .storybook/release/main.js
  .storybook/release/manager.js
  .storybook/release/preview.js
Due: none

add mock folder
  .mock/file.js
Due: none

extend package css with color modes
  packages/css/src/primer/color-modes/index.scss
  packages/css/src/primer/color-modes/native.scss
  packages/css/src/primer/color-modes/themes/dark.scss
  packages/css/src/primer/color-modes/themes/dark_colorblind.scss
  packages/css/src/primer/color-modes/themes/dark_dimmed.scss
  packages/css/src/primer/color-modes/themes/dark_high_contrast.scss
  packages/css/src/primer/color-modes/themes/light.scss
  packages/css/src/primer/color-modes/themes/light_colorblind.scss
  packages/css/src/primer/color-modes/themes/light_high_contrast.scss
Due: none

v0.2.0
  lerna.json
  packages/components/package-lock.json
  packages/components/package.json
  packages/css/package-lock.json
  packages/css/package.json
Due: none

setup postcss
  postcss.config.js
Due: none

extend storybook configuration
  .jest-test-results.json
  .storybook/main.js
  bumpstack.sh
  package-lock.json
  package.json
Due: none

update css packages
  packages/css/package-lock.json
Due: none

install papillonbits css
  packages/components/bumpstack.sh
  packages/components/package-lock.json
  packages/components/package.json
Due: none

remove Button component
  packages/components/src/primer/Button/Button.jsx
  packages/components/src/primer/Button/Button.scss
  packages/components/src/primer/Button/index.js
  packages/components/src/primer/Button/misc.scss
Due: eslint --ext .js --ext .jsx packages/components/src/**/**/*.{js,jsx} --fix, prettier --write "packages/components/src/**/**/*.{js,jsx}", stylelint "packages/components/src/**/**/*.scss" --custom-syntax=postcss-scss --fix, prettier --write "packages/components/src/**/**/*.scss"

implement Blankslate component
  packages/components/src/primer/Blankslate/Blankslate.jsx
  packages/components/src/primer/Blankslate/Blankslate.md
  packages/components/src/primer/Blankslate/Blankslate.prop.js
  packages/components/src/primer/Blankslate/Blankslate.scss
  packages/components/src/primer/Blankslate/__tests__/Blankslate.int.story.js
  packages/components/src/primer/Blankslate/__tests__/Blankslate.int.test.js
  packages/components/src/primer/Blankslate/__tests__/__snapshots__/Blankslate.int.test.js.snap
  packages/components/src/primer/Blankslate/index.js
  packages/components/src/primer/Button/Button.prop.js
Due: eslint --ext .js --ext .jsx packages/components/src/**/**/*.{js,jsx} --fix, prettier --write "packages/components/src/**/**/*.{js,jsx}", stylelint "packages/components/src/**/**/*.scss" --custom-syntax=postcss-scss --fix, prettier --write "packages/components/src/**/**/*.scss"

update indexes
  packages/components/src/index.scss
  packages/components/src/primer/index.js
Due: eslint --ext .js --ext .jsx packages/components/src/**/**/*.{js,jsx} --fix, prettier --write "packages/components/src/**/**/*.{js,jsx}", stylelint "packages/components/src/**/**/*.scss" --custom-syntax=postcss-scss --fix, prettier --write "packages/components/src/**/**/*.scss"

v0.3.0
  lerna.json
  packages/components/package-lock.json
  packages/components/package.json
  packages/css/package-lock.json
  packages/css/package.json
Due: none

extend packages with library
  lerna.json
  package.json
  packages/components/src/primer/Blankslate/__tests__/__snapshots__/Blankslate.int.test.js.snap
  packages/library/.babelrc
  packages/library/.npmignore
  packages/library/README.md
  packages/library/package.json
  packages/library/src/a11y/index.js
  packages/library/src/array/__tests__/index.test.js
  packages/library/src/array/index.js
  packages/library/src/auth/index.js
  packages/library/src/boolean/__tests__/index.test.js
  packages/library/src/boolean/index.js
  packages/library/src/browser/__tests__/index.test.js
  packages/library/src/browser/index.js
  packages/library/src/date/index.js
  packages/library/src/event/index.js
  packages/library/src/hooks/index.js
  packages/library/src/number/index.js
  packages/library/src/object/index.js
  packages/library/src/pagination/__tests__/index.test.js
  packages/library/src/pagination/index.js
  packages/library/src/sort/__tests__/index.test.js
  packages/library/src/sort/index.js
  packages/library/src/store/index.js
  packages/library/src/store/mock/__tests__/index.test.js
  packages/library/src/store/mock/index.js
  packages/library/src/string/__tests__/index.test.js
  packages/library/src/string/index.js
Due: eslint --ext .js --ext .jsx packages/library/src/**/**/*.js --fix, prettier --write "packages/library/src/**/**/*.js"

v0.4.0
  lerna.json
  packages/components/package-lock.json
  packages/components/package.json
  packages/css/package-lock.json
  packages/css/package.json
  packages/library/package.json
Due: none

install papillonbits library
  bumpstack.sh
  package-lock.json
  package.json
  packages/components/bumpstack.sh
  packages/components/package-lock.json
  packages/components/package.json
Due: none

install @axe-core/react
  bumpstack.sh
  package-lock.json
  package.json
Due: none

implement Alert component
  packages/components/src/primer/Alert/Alert.jsx
  packages/components/src/primer/Alert/Alert.md
  packages/components/src/primer/Alert/Alert.prop.js
  packages/components/src/primer/Alert/Alert.scss
  packages/components/src/primer/Alert/__tests__/Alert.int.story.js
  packages/components/src/primer/Alert/__tests__/Alert.int.test.js
  packages/components/src/primer/Alert/__tests__/__snapshots__/Alert.int.test.js.snap
  packages/components/src/primer/Alert/index.js
  packages/components/src/primer/Blankslate/__tests__/__snapshots__/Blankslate.int.test.js.snap
  packages/components/src/primer/index.js
Due: eslint --ext .js --ext .jsx packages/components/src/**/**/*.{js,jsx} --fix, prettier --write "packages/components/src/**/**/*.{js,jsx}", stylelint "packages/components/src/**/**/*.scss" --custom-syntax=postcss-scss --fix, prettier --write "packages/components/src/**/**/*.scss"

implement box
  packages/components/src/primer/Box/box.scss
Due: stylelint "packages/components/src/**/**/*.scss" --custom-syntax=postcss-scss --fix, prettier --write "packages/components/src/**/**/*.scss"

implement branch name
  packages/components/src/primer/BranchName/branch-name.scss
Due: stylelint "packages/components/src/**/**/*.scss" --custom-syntax=postcss-scss --fix, prettier --write "packages/components/src/**/**/*.scss"

align imports
  packages/components/src/primer/Alert/Alert.scss
  packages/components/src/primer/Box/box.scss
Due: stylelint "packages/components/src/**/**/*.scss" --custom-syntax=postcss-scss --fix, prettier --write "packages/components/src/**/**/*.scss"

implement Breadcrumb component
  packages/components/src/primer/Breadcrumb/Breadcrumb.jsx
  packages/components/src/primer/Breadcrumb/Breadcrumb.md
  packages/components/src/primer/Breadcrumb/Breadcrumb.prop.js
  packages/components/src/primer/Breadcrumb/Breadcrumb.scss
  packages/components/src/primer/Breadcrumb/__tests__/Breadcrumb.int.story.js
  packages/components/src/primer/Breadcrumb/__tests__/Breadcrumb.int.test.js
  packages/components/src/primer/Breadcrumb/__tests__/__snapshots__/Breadcrumb.int.test.js.snap
  packages/components/src/primer/Breadcrumb/index.js
  packages/components/src/primer/index.js
Due: eslint --ext .js --ext .jsx packages/components/src/**/**/*.{js,jsx} --fix, prettier --write "packages/components/src/**/**/*.{js,jsx}", stylelint "packages/components/src/**/**/*.scss" --custom-syntax=postcss-scss --fix, prettier --write "packages/components/src/**/**/*.scss"

restore storybook configuration
  .storybook/main.js
Due: none

implement Icon
  packages/components/src/primer/Icon/Icon.jsx
  packages/components/src/primer/Icon/Icon.part.js
  packages/components/src/primer/Icon/Icon.prop.js
  packages/components/src/primer/Icon/__tests__/Icon.int.story.js
  packages/components/src/primer/Icon/__tests__/Icon.int.test.js
  packages/components/src/primer/Icon/__tests__/__snapshots__/Icon.int.test.js.snap
  packages/components/src/primer/Icon/index.js
Due: eslint --ext .js --ext .jsx packages/components/src/**/**/*.{js,jsx} --fix, prettier --write "packages/components/src/**/**/*.{js,jsx}"
