Repository papillonbits/papillonbits: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .js --ext .jsx packages/components/src/**/**/*.{js,jsx} --fix, prettier --write "packages/components/src/**/**/*.{js,jsx}", eslint --ext .js --ext .jsx packages/docs/src/**/**/*.{js,jsx} --fix, prettier --write "packages/docs/src/**/**/*.{js,jsx}", eslint --ext .js --ext .jsx packages/library/src/**/**/*.js --fix, prettier --write "packages/library/src/**/**/*.js", stylelint "packages/components/src/**/**/*.scss" --custom-syntax=postcss-scss --fix, prettier --write "packages/components/src/**/**/*.scss"

.lintstagedrc:

{
  "packages/components/src/**/*.{js,jsx}": [
    "eslint --ext .js --ext .jsx packages/components/src/**/**/*.{js,jsx} --fix",
    "prettier --write \"packages/components/src/**/**/*.{js,jsx}\"",
    "git add"
  ],
  "packages/docs/src/**/*.{js,jsx}": [
    "eslint --ext .js --ext .jsx packages/docs/src/**/**/*.{js,jsx} --fix",
    "prettier --write \"packages/docs/src/**/**/*.{js,jsx}\"",
    "git add"
  ],
  "packages/library/src/**/*.js": [
    "eslint --ext .js --ext .jsx packages/library/src/**/**/*.js --fix",
    "prettier --write \"packages/library/src/**/**/*.js\"",
    "git add"
  ],
  "packages/components/src/**/*.scss": [
    "stylelint \"packages/components/src/**/**/*.scss\" --custom-syntax=postcss-scss --fix",
    "prettier --write \"packages/components/src/**/**/*.scss\"",
    "git add"
  ]
}

bumpstack papillonbits comply with jsdom v20
  bumpstack.sh
  package-lock.json
  package.json
  packages/components/package-lock.json
  packages/components/src/primer/Navigation/TabNav/__tests__/TabNav.int.test.js
  packages/components/src/primer/Navigation/TabNav/__tests__/__snapshots__/TabNav.int.test.js.snap
Due: eslint --ext .js --ext .jsx packages/components/src/**/**/*.{js,jsx} --fix, prettier --write "packages/components/src/**/**/*.{js,jsx}"

bumpstack papillonbits comply with node v18.5.0
  package-lock.json
  package.json
Due: none

v0.14.0
  lerna.json
  packages/components/package-lock.json
  packages/components/package.json
  packages/css/package-lock.json
  packages/css/package.json
  packages/library/package-lock.json
  packages/library/package.json
Due: none

bumpstack papillonbits comply with node v18.6.0
  package-lock.json
  package.json
  packages/components/package-lock.json
Due: none

v0.15.0
  lerna.json
  packages/components/package-lock.json
  packages/components/package.json
  packages/css/package-lock.json
  packages/css/package.json
  packages/library/package-lock.json
  packages/library/package.json
Due: none

bumpstack papillonbits comply with node v18.7.0 and npm v8.15.0
  .storybook/main.js
  package-lock.json
  package.json
  packages/components/package-lock.json
Due: none

v0.16.0
  lerna.json
  packages/components/package-lock.json
  packages/components/package.json
  packages/css/package-lock.json
  packages/css/package.json
  packages/library/package-lock.json
  packages/library/package.json
Due: none

bumpstack papillonbits
  .stylelintrc
  package-lock.json
  package.json
  packages/components/package-lock.json
Due: none

bumpstack papillonbits
  package-lock.json
  package.json
Due: none

bumpstack papillonbits comply with node v18.9.0 and npm v8.19.1
  package-lock.json
  package.json
Due: none

v0.17.0
  lerna.json
  packages/components/package-lock.json
  packages/components/package.json
  packages/css/package-lock.json
  packages/css/package.json
  packages/library/package-lock.json
  packages/library/package.json
Due: none

update icons to primer/octicons v17.5.0
  packages/components/src/primer/Icon/Icon.part.js
  packages/components/src/primer/Icon/Icon.prop.js
  packages/components/src/primer/SVG/icon/accessibility-inset-16.svg
  packages/components/src/primer/SVG/icon/cache-16.svg
  packages/components/src/primer/SVG/icon/checkbox-16.svg
  packages/components/src/primer/SVG/icon/checkbox-24.svg
  packages/components/src/primer/SVG/icon/command-palette-16.svg
  packages/components/src/primer/SVG/icon/command-palette-24.svg
  packages/components/src/primer/SVG/icon/git-merge-queue-16.svg
  packages/components/src/primer/SVG/icon/paperclip-16.svg
  packages/components/src/primer/SVG/icon/paperclip-24.svg
  packages/components/src/primer/SVG/icon/search-24.svg
  packages/components/src/primer/SVG/icon/shield-slash-16.svg
  packages/components/src/primer/SVG/icon/table-16.svg
  packages/components/src/primer/SVG/icon/tasklist-16.svg
  packages/components/src/primer/SVG/icon/tasklist-24.svg
Due: eslint --ext .js --ext .jsx packages/components/src/**/**/*.{js,jsx} --fix, prettier --write "packages/components/src/**/**/*.{js,jsx}"

update css to primer/css v20.4.5
  packages/components/src/primer/Button/ButtonGroup.scss
  packages/components/src/primer/Button/misc.scss
  packages/components/src/primer/Form/FormControl.scss
  packages/components/src/primer/Form/index.scss
  packages/components/src/primer/Layout/index.scss
  packages/components/src/primer/Layout/layout.scss
  packages/components/src/primer/Layout/mixins.scss
  packages/components/src/primer/Layout/page-layout.scss
  packages/components/src/primer/Layout/stack.scss
  packages/components/src/primer/Navigation/UnderlineNav/UnderlineNav.scss
  packages/components/src/primer/SelectMenu/SelectMenu.scss
  packages/css/src/primer/base/base.scss
  packages/css/src/primer/support/variables/layout.scss
  packages/css/src/primer/utilities/visibility-display.scss
Due: stylelint "packages/components/src/**/**/*.scss" --custom-syntax=postcss-scss --fix, prettier --write "packages/components/src/**/**/*.scss"

bumpstack papillonbits
  package-lock.json
  package.json
  packages/components/package-lock.json
  packages/components/src/primer/Icon/__tests__/__snapshots__/Icon.int.test.js.snap
Due: none

v0.18.0
  lerna.json
  packages/components/package-lock.json
  packages/components/package.json
  packages/css/package-lock.json
  packages/css/package.json
  packages/library/package-lock.json
  packages/library/package.json
Due: none

bumpstack papillonbits
  package-lock.json
  package.json
  packages/components/package-lock.json
Due: none

storybook setup remove @svgr/webpack
  .storybook/main.js
  bumpstack.sh
  package-lock.json
  package.json
  packages/components/src/primer/Icon/Icon.jsx
  packages/components/src/primer/Icon/Icon.part.js
Due: eslint --ext .js --ext .jsx packages/components/src/**/**/*.{js,jsx} --fix, prettier --write "packages/components/src/**/**/*.{js,jsx}"

v0.19.0
  lerna.json
  packages/components/package-lock.json
  packages/components/package.json
  packages/css/package-lock.json
  packages/css/package.json
  packages/library/package-lock.json
  packages/library/package.json
Due: none

change element
  packages/components/src/primer/Icon/Icon.jsx
Due: eslint --ext .js --ext .jsx packages/components/src/**/**/*.{js,jsx} --fix, prettier --write "packages/components/src/**/**/*.{js,jsx}"

v0.20.0
  lerna.json
  packages/components/package-lock.json
  packages/components/package.json
  packages/css/package-lock.json
  packages/css/package.json
  packages/library/package-lock.json
  packages/library/package.json
Due: none

remove packages/docs and packages/styleguide references from setup
  .eslintignore
  .gitignore
  .lintstagedrc
  .prettierignore
  .stylelintignore
  jest.config.js
Due: none

ignore packages/components/src/primer/SVG/component
  .eslintignore
  .prettierignore
  .stylelintignore
Due: none

update snapshots
  packages/components/src/primer/Alert/__tests__/__snapshots__/Alert.int.test.js.snap
  packages/components/src/primer/Button/__tests__/__snapshots__/Button.int.test.js.snap
  packages/components/src/primer/Grid/FlexGrid/__tests__/__snapshots__/FlexGrid.int.test.js.snap
  packages/components/src/primer/Icon/Icon.part.js
  packages/components/src/primer/Icon/__tests__/__snapshots__/Icon.int.test.js.snap
  packages/components/src/primer/SelectMenu/__tests__/__snapshots__/SelectMenu.int.test.js.snap
  packages/components/src/primer/Toast/__tests__/__snapshots__/Toast.int.test.js.snap
Due: eslint --ext .js --ext .jsx packages/components/src/**/**/*.{js,jsx} --fix, prettier --write "packages/components/src/**/**/*.{js,jsx}"

v0.21.0
  lerna.json
  packages/components/package-lock.json
  packages/components/package.json
  packages/css/package-lock.json
  packages/css/package.json
  packages/library/package-lock.json
  packages/library/package.json
Due: none

v0.22.0
  lerna.json
  packages/components/package-lock.json
  packages/components/package.json
  packages/css/package-lock.json
  packages/css/package.json
  packages/library/package-lock.json
  packages/library/package.json
Due: none

bumpstack papillonbits comply with node v18.9.1 and npm v8.19.1
  package.json
Due: none

update snapshots
  packages/components/src/primer/Alert/__tests__/__snapshots__/Alert.int.test.js.snap
  packages/components/src/primer/Button/__tests__/__snapshots__/Button.int.test.js.snap
  packages/components/src/primer/Grid/FlexGrid/__tests__/__snapshots__/FlexGrid.int.test.js.snap
  packages/components/src/primer/Icon/__tests__/__snapshots__/Icon.int.test.js.snap
  packages/components/src/primer/SelectMenu/__tests__/__snapshots__/SelectMenu.int.test.js.snap
  packages/components/src/primer/Toast/__tests__/__snapshots__/Toast.int.test.js.snap
Due: none

v0.23.0
  lerna.json
  packages/components/package-lock.json
  packages/components/package.json
  packages/css/package-lock.json
  packages/css/package.json
  packages/library/package-lock.json
  packages/library/package.json
Due: none

conditionally render icon
  packages/components/src/primer/Icon/Icon.jsx
Due: eslint --ext .js --ext .jsx packages/components/src/**/**/*.{js,jsx} --fix, prettier --write "packages/components/src/**/**/*.{js,jsx}"

replace node-sas with sass
  package-lock.json
  package.json
Due: none

v0.24.0
  lerna.json
  packages/components/package-lock.json
  packages/components/package.json
  packages/css/package-lock.json
  packages/css/package.json
  packages/library/package-lock.json
  packages/library/package.json
Due: none

restore css package imports and custom styles
  packages/components/src/primer/Alert/Alert.scss
  packages/components/src/primer/Blankslate/Blankslate.scss
  packages/components/src/primer/Box/box.scss
  packages/components/src/primer/BranchName/branch-name.scss
  packages/components/src/primer/Breadcrumb/Breadcrumb.scss
  packages/components/src/primer/Button/Button.scss
  packages/components/src/primer/Button/misc.scss
  packages/components/src/primer/Dropdown/Dropdown.scss
  packages/components/src/primer/Grid/FlexGrid/FlexGrid.scss
  packages/components/src/primer/Label/counters.scss
  packages/components/src/primer/Label/mixins.scss
  packages/components/src/primer/Label/states.scss
  packages/components/src/primer/Layout/container.scss
  packages/components/src/primer/Layout/grid-offset.scss
  packages/components/src/primer/Layout/grid.scss
  packages/components/src/primer/Navigation/Menu/Menu.scss
  packages/components/src/primer/Navigation/TabNav/TabNav.scss
  packages/components/src/primer/Navigation/UnderlineNav/UnderlineNav.scss
  packages/components/src/primer/Pagination/PreviousNext/PreviousNext.scss
  packages/components/src/primer/Popover/Popover.scss
  packages/components/src/primer/Progress/Progress.scss
  packages/components/src/primer/Select/Select.scss
  packages/components/src/primer/SelectMenu/SelectMenu.scss
  packages/components/src/primer/Subhead/Subhead.scss
  packages/components/src/primer/Toast/Toast.scss
  packages/css/src/primer/base/base.scss
Due: stylelint "packages/components/src/**/**/*.scss" --custom-syntax=postcss-scss --fix, prettier --write "packages/components/src/**/**/*.scss"

v0.25.0
  lerna.json
  packages/components/package-lock.json
  packages/components/package.json
  packages/css/package-lock.json
  packages/css/package.json
  packages/library/package-lock.json
  packages/library/package.json
Due: none

optimize imports
  packages/components/src/index.scss
  packages/components/src/primer/Breadcrumb/Breadcrumb.scss
  packages/components/src/primer/Button/Button.scss
  packages/components/src/primer/Button/ButtonGroup.scss
  packages/components/src/primer/Button/misc.scss
  packages/components/src/primer/Dropdown/Dropdown.scss
  packages/components/src/primer/Form/Checkbox/Checkbox.scss
  packages/components/src/primer/Form/Input/Input.scss
  packages/components/src/primer/Form/Radio/Radio.scss
  packages/components/src/primer/Form/form-control.scss
  packages/components/src/primer/Form/form-select.scss
  packages/components/src/primer/Form/index.scss
  packages/components/src/primer/Grid/FlexGrid/FlexGrid.scss
  packages/components/src/primer/Label/index.scss
  packages/components/src/primer/Layout/index.scss
  packages/components/src/primer/Navigation/TabNav/TabNav.scss
  packages/components/src/primer/Navigation/UnderlineNav/UnderlineNav.scss
  packages/components/src/primer/Pagination/PreviousNext/PreviousNext.scss
  packages/components/src/primer/index.js
  packages/css/src/primer/color-modes/themes/dark.scss
  packages/css/src/primer/color-modes/themes/dark_colorblind.scss
  packages/css/src/primer/color-modes/themes/dark_dimmed.scss
  packages/css/src/primer/color-modes/themes/dark_high_contrast.scss
  packages/css/src/primer/color-modes/themes/dark_tritanopia.scss
  packages/css/src/primer/color-modes/themes/light.scss
  packages/css/src/primer/color-modes/themes/light_colorblind.scss
  packages/css/src/primer/color-modes/themes/light_high_contrast.scss
  packages/css/src/primer/color-modes/themes/light_tritanopia.scss
Due: eslint --ext .js --ext .jsx packages/components/src/**/**/*.{js,jsx} --fix, prettier --write "packages/components/src/**/**/*.{js,jsx}", stylelint "packages/components/src/**/**/*.scss" --custom-syntax=postcss-scss --fix, prettier --write "packages/components/src/**/**/*.scss"

v0.26.0
  lerna.json
  packages/components/package-lock.json
  packages/components/package.json
  packages/css/package-lock.json
  packages/css/package.json
  packages/library/package-lock.json
  packages/library/package.json
Due: none
