Repository papillonbits/papillonbits: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .js --ext .jsx packages/components/src/**/**/*.{js,jsx} --fix, prettier --write "packages/components/src/**/**/*.{js,jsx}", eslint --ext .js --ext .jsx packages/library/src/**/**/*.js --fix, prettier --write "packages/library/src/**/**/*.js", eslint --ext .js --ext .jsx packages/setup/src/**/**/*.js --fix, prettier --write "packages/setup/src/**/**/*.js", stylelint "packages/components/src/**/**/*.scss" --custom-syntax=postcss-scss --fix, prettier --write "packages/components/src/**/**/*.scss"

.lintstagedrc:

{
  "packages/components/src/**/*.{js,jsx}": [
    "eslint --ext .js --ext .jsx packages/components/src/**/**/*.{js,jsx} --fix",
    "prettier --write \"packages/components/src/**/**/*.{js,jsx}\"",
    "git add"
  ],
  "packages/library/src/**/*.js": [
    "eslint --ext .js --ext .jsx packages/library/src/**/**/*.js --fix",
    "prettier --write \"packages/library/src/**/**/*.js\"",
    "git add"
  ],
  "packages/setup/src/**/*.js": [
    "eslint --ext .js --ext .jsx packages/setup/src/**/**/*.js --fix",
    "prettier --write \"packages/setup/src/**/**/*.js\"",
    "git add"
  ],
  "packages/components/src/**/*.scss": [
    "stylelint \"packages/components/src/**/**/*.scss\" --custom-syntax=postcss-scss --fix",
    "prettier --write \"packages/components/src/**/**/*.scss\"",
    "git add"
  ]
}

v1.5.0
  lerna.json
  packages/components/package-lock.json
  packages/components/package.json
  packages/css/package-lock.json
  packages/css/package.json
  packages/library/package-lock.json
  packages/library/package.json
  packages/setup/package-lock.json
  packages/setup/package.json
Due: none

install papillonbits latest
  package-lock.json
  package.json
  packages/components/package-lock.json
Due: none

restore papillonbits imports
  .storybook/main.js
  .storybook/manager.js
  .storybook/preview.js
  jest.config.js
  packages/components/src/primer/Alert/Alert.jsx
  packages/components/src/primer/BranchName/branch-name.scss
  packages/components/src/primer/Breadcrumb/Breadcrumb.jsx
  packages/components/src/primer/Button/Button.jsx
  packages/components/src/primer/Button/Button.scss
  packages/components/src/primer/Button/ButtonGroup.scss
  packages/components/src/primer/Button/misc.scss
  packages/components/src/primer/Dropdown/Dropdown.jsx
  packages/components/src/primer/Form/Checkbox/Checkbox.jsx
  packages/components/src/primer/Form/Radio/Radio.jsx
  packages/components/src/primer/Form/form-control.scss
  packages/components/src/primer/Form/form-select.scss
  packages/components/src/primer/Grid/DisplayTable/DisplayTable.jsx
  packages/components/src/primer/Grid/FlexGrid/FlexGrid.jsx
  packages/components/src/primer/Label/Label.jsx
  packages/components/src/primer/Label/mixins.scss
  packages/components/src/primer/Layout/container.scss
  packages/components/src/primer/Layout/grid-offset.scss
  packages/components/src/primer/Layout/grid.scss
  packages/components/src/primer/Loader/Loader.jsx
  packages/components/src/primer/Navigation/TabNav/__tests__/TabNav.int.story.js
  packages/components/src/primer/Pagination/PreviousNext/PreviousNext.jsx
  packages/components/src/primer/Pagination/PreviousNext/PreviousNext.scss
  packages/components/src/primer/Popover/Popover.jsx
  packages/components/src/primer/Progress/Progress.jsx
  packages/components/src/primer/Select/Select.jsx
  packages/components/src/primer/Select/Select.scss
  packages/components/src/primer/SelectMenu/SelectMenu.jsx
  packages/components/src/primer/SelectMenu/SelectMenu.scss
  packages/components/src/primer/Subhead/Subhead.scss
  packages/components/src/primer/Toast/Toast.jsx
  packages/components/src/primer/Toast/Toast.scss
  packages/components/src/primer/index.js
  packages/setup/src/jest/index.js
  packages/setup/src/jest/setup.js
Due: eslint --ext .js --ext .jsx packages/components/src/**/**/*.{js,jsx} --fix, prettier --write "packages/components/src/**/**/*.{js,jsx}", eslint --ext .js --ext .jsx packages/setup/src/**/**/*.js --fix, prettier --write "packages/setup/src/**/**/*.js", stylelint "packages/components/src/**/**/*.scss" --custom-syntax=postcss-scss --fix, prettier --write "packages/components/src/**/**/*.scss"

v1.5.1
  lerna.json
  packages/components/package-lock.json
  packages/components/package.json
  packages/setup/package-lock.json
  packages/setup/package.json
Due: none

improve polyfills tty-browserify
  .storybook/main.js
  bumpstack.sh
  package-lock.json
  package.json
  packages/setup/src/storybook/mainSetup.js
  packages/setup/src/webpack/loader/babelLoader.js
Due: eslint --ext .js --ext .jsx packages/setup/src/**/**/*.js --fix, prettier --write "packages/setup/src/**/**/*.js"

v1.5.2
  lerna.json
  packages/components/package-lock.json
  packages/components/package.json
  packages/setup/package-lock.json
  packages/setup/package.json
Due: none

restore babel loader advanced setup
  packages/setup/src/webpack/loader/babelLoader.js
Due: eslint --ext .js --ext .jsx packages/setup/src/**/**/*.js --fix, prettier --write "packages/setup/src/**/**/*.js"

v1.5.3
  lerna.json
  packages/components/package-lock.json
  packages/components/package.json
  packages/setup/package-lock.json
  packages/setup/package.json
Due: none

silence dependency and deprecation warnings
  packages/setup/src/storybook/mainSetup.js
  packages/setup/src/webpack/loader/sassLoader.js
Due: eslint --ext .js --ext .jsx packages/setup/src/**/**/*.js --fix, prettier --write "packages/setup/src/**/**/*.js"

v1.5.4
  lerna.json
  packages/components/package-lock.json
  packages/components/package.json
  packages/setup/package-lock.json
  packages/setup/package.json
Due: none

bumpstack papillonbits comply with node v24.10.0 npm v11.6.1
  package-lock.json
  package.json
  packages/css/package-lock.json
  packages/library/package-lock.json
  packages/setup/package-lock.json
  packages/setup/src/jest/config.js
  packages/setup/src/webpack/constant/index.js
Due: eslint --ext .js --ext .jsx packages/setup/src/**/**/*.js --fix, prettier --write "packages/setup/src/**/**/*.js"

v1.6.0
  lerna.json
  packages/components/package-lock.json
  packages/components/package.json
  packages/css/package-lock.json
  packages/css/package.json
  packages/library/package-lock.json
  packages/library/package.json
  packages/setup/package-lock.json
  packages/setup/package.json
Due: none

extend jest transform ignore patterns with jsdom parse5
  packages/setup/src/jest/config.js
Due: eslint --ext .js --ext .jsx packages/setup/src/**/**/*.js --fix, prettier --write "packages/setup/src/**/**/*.js"

v1.6.1
  lerna.json
  packages/components/package-lock.json
  packages/components/package.json
  packages/setup/package-lock.json
  packages/setup/package.json
Due: none

Updates
  project.json
Due: none

v1.7.0
  lerna.json
  packages/components/package-lock.json
  packages/components/package.json
  packages/css/package-lock.json
  packages/css/package.json
  packages/library/package-lock.json
  packages/library/package.json
  packages/setup/package-lock.json
  packages/setup/package.json
Due: none

bumpstack papillonbits
  package-lock.json
  package.json
  packages/css/package-lock.json
  packages/library/package-lock.json
  packages/setup/package-lock.json
Due: none

bumpstack papillonbits comply with node v24.11.0 npm v11.6.1
  bumpstack.sh
  package-lock.json
  package.json
Due: none

v1.8.0
  lerna.json
  packages/components/package-lock.json
  packages/components/package.json
  packages/css/package-lock.json
  packages/css/package.json
  packages/library/package-lock.json
  packages/library/package.json
  packages/setup/package-lock.json
  packages/setup/package.json
Due: none

bumpstack papillonbits comply with node v24.11.1 npm v11.6.2
  package-lock.json
  package.json
  packages/css/package-lock.json
  packages/library/package-lock.json
  packages/setup/package-lock.json
Due: none

v1.9.0
  lerna.json
  packages/components/package-lock.json
  packages/components/package.json
  packages/css/package-lock.json
  packages/css/package.json
  packages/library/package-lock.json
  packages/library/package.json
  packages/setup/package-lock.json
  packages/setup/package.json
Due: none

bumpstack papillonbits
  bumpstack.sh
  package-lock.json
  package.json
  packages/css/package-lock.json
  packages/library/package-lock.json
  packages/setup/package-lock.json
Due: none

bumpstack papillonbits comply with react v19.2.1
  package-lock.json
  package.json
  packages/setup/src/eslint/index.js
Due: eslint --ext .js --ext .jsx packages/setup/src/**/**/*.js --fix, prettier --write "packages/setup/src/**/**/*.js"

bumpstack papillonbits
  package-lock.json
  package.json
  packages/components/src/primer/Alert/__tests__/__snapshots__/Alert.int.test.js.snap
  packages/components/src/primer/Blankslate/__tests__/__snapshots__/Blankslate.int.test.js.snap
  packages/components/src/primer/Breadcrumb/__tests__/__snapshots__/Breadcrumb.int.test.js.snap
  packages/components/src/primer/Button/__tests__/__snapshots__/Button.int.test.js.snap
  packages/components/src/primer/Dropdown/__tests__/__snapshots__/Dropdown.int.test.js.snap
  packages/components/src/primer/ErrorBoundary/__tests__/__snapshots__/ErrorBoundary.int.test.js.snap
  packages/components/src/primer/Icon/__tests__/__snapshots__/Icon.int.test.js.snap
  packages/components/src/primer/Label/__tests__/__snapshots__/Label.int.test.js.snap
  packages/components/src/primer/Loader/__tests__/__snapshots__/Loader.int.test.js.snap
  packages/components/src/primer/Popover/__tests__/__snapshots__/Popover.int.test.js.snap
  packages/components/src/primer/Progress/__tests__/__snapshots__/Progress.int.test.js.snap
  packages/components/src/primer/Select/__tests__/__snapshots__/Select.int.test.js.snap
  packages/components/src/primer/SelectMenu/__tests__/__snapshots__/SelectMenu.int.test.js.snap
  packages/components/src/primer/Subhead/__tests__/__snapshots__/Subhead.int.test.js.snap
  packages/components/src/primer/Toast/__tests__/__snapshots__/Toast.int.test.js.snap
Due: none

update snapshots
  packages/components/src/primer/Alert/__tests__/__snapshots__/Alert.int.test.js.snap
  packages/components/src/primer/Blankslate/__tests__/__snapshots__/Blankslate.int.test.js.snap
  packages/components/src/primer/Breadcrumb/__tests__/__snapshots__/Breadcrumb.int.test.js.snap
  packages/components/src/primer/Button/__tests__/__snapshots__/Button.int.test.js.snap
  packages/components/src/primer/Dropdown/__tests__/__snapshots__/Dropdown.int.test.js.snap
  packages/components/src/primer/ErrorBoundary/__tests__/__snapshots__/ErrorBoundary.int.test.js.snap
  packages/components/src/primer/Icon/__tests__/__snapshots__/Icon.int.test.js.snap
  packages/components/src/primer/Label/__tests__/__snapshots__/Label.int.test.js.snap
  packages/components/src/primer/Loader/__tests__/__snapshots__/Loader.int.test.js.snap
  packages/components/src/primer/Popover/__tests__/__snapshots__/Popover.int.test.js.snap
  packages/components/src/primer/Progress/__tests__/__snapshots__/Progress.int.test.js.snap
  packages/components/src/primer/Select/__tests__/__snapshots__/Select.int.test.js.snap
  packages/components/src/primer/SelectMenu/__tests__/__snapshots__/SelectMenu.int.test.js.snap
  packages/components/src/primer/Subhead/__tests__/__snapshots__/Subhead.int.test.js.snap
  packages/components/src/primer/Toast/__tests__/__snapshots__/Toast.int.test.js.snap
Due: none

v1.10.0
  lerna.json
  packages/components/package-lock.json
  packages/components/package.json
  packages/css/package-lock.json
  packages/css/package.json
  packages/library/package-lock.json
  packages/library/package.json
  packages/setup/package-lock.json
  packages/setup/package.json
Due: none
