Repository papillonbits/papillonbits: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .js --ext .jsx packages/components/src/**/**/*.{js,jsx} --fix, prettier --write "packages/components/src/**/**/*.{js,jsx}", eslint --ext .js --ext .jsx packages/library/src/**/**/*.js --fix, prettier --write "packages/library/src/**/**/*.js", eslint --ext .js --ext .jsx packages/setup/src/**/**/*.js --fix, prettier --write "packages/setup/src/**/**/*.js", stylelint "packages/components/src/**/**/*.scss" --custom-syntax=postcss-scss --fix, prettier --write "packages/components/src/**/**/*.scss"

.lintstagedrc:

{
  "packages/components/src/**/*.{js,jsx}": [
    "eslint --ext .js --ext .jsx packages/components/src/**/**/*.{js,jsx} --fix",
    "prettier --write \"packages/components/src/**/**/*.{js,jsx}\"",
    "git add"
  ],
  "packages/library/src/**/*.js": [
    "eslint --ext .js --ext .jsx packages/library/src/**/**/*.js --fix",
    "prettier --write \"packages/library/src/**/**/*.js\"",
    "git add"
  ],
  "packages/setup/src/**/*.js": [
    "eslint --ext .js --ext .jsx packages/setup/src/**/**/*.js --fix",
    "prettier --write \"packages/setup/src/**/**/*.js\"",
    "git add"
  ],
  "packages/components/src/**/*.scss": [
    "stylelint \"packages/components/src/**/**/*.scss\" --custom-syntax=postcss-scss --fix",
    "prettier --write \"packages/components/src/**/**/*.scss\"",
    "git add"
  ]
}

bumpstack papillonbits comply with node v20.8.1 npm v10.1.0
  package-lock.json
  package.json
  packages/setup/src/webpack/constant/index.js
Due: eslint --ext .js --ext .jsx packages/setup/src/**/**/*.js --fix, prettier --write "packages/setup/src/**/**/*.js"

v0.93.0
  lerna.json
  packages/components/package-lock.json
  packages/components/package.json
  packages/css/package-lock.json
  packages/css/package.json
  packages/library/package-lock.json
  packages/library/package.json
  packages/setup/package-lock.json
  packages/setup/package.json
Due: none

bumpstack papillonbits comply with node v21.2.0 npm v10.2.3
  package-lock.json
  package.json
  packages/components/package-lock.json
  packages/components/src/primer/Navigation/UnderlineNav/UnderlineNav.scss
  packages/components/src/primer/SelectMenu/SelectMenu.scss
Due: stylelint "packages/components/src/**/**/*.scss" --custom-syntax=postcss-scss --fix, prettier --write "packages/components/src/**/**/*.scss"

v0.94.0
  lerna.json
  packages/components/package-lock.json
  packages/components/package.json
  packages/css/package-lock.json
  packages/css/package.json
  packages/library/package-lock.json
  packages/library/package.json
  packages/setup/package-lock.json
  packages/setup/package.json
Due: none

install papillonbits latest
  package-lock.json
  package.json
  packages/components/package-lock.json
Due: none

bumpstack papillonbits
  package-lock.json
  package.json
  packages/setup/src/webpack/constant/index.js
Due: eslint --ext .js --ext .jsx packages/setup/src/**/**/*.js --fix, prettier --write "packages/setup/src/**/**/*.js"

bumpstack papillonbits redux 5.0.0 react-redux 9.0.0 redux-thunk 3.1.0
  package-lock.json
  package.json
  packages/library/src/store/mock/index.js
Due: eslint --ext .js --ext .jsx packages/library/src/**/**/*.js --fix, prettier --write "packages/library/src/**/**/*.js"

v0.95.0
  lerna.json
  packages/components/package-lock.json
  packages/components/package.json
  packages/css/package-lock.json
  packages/css/package.json
  packages/library/package-lock.json
  packages/library/package.json
  packages/setup/package-lock.json
  packages/setup/package.json
Due: none

bumpstack papillonbits comply with node v21.4.0 npm v10.2.4
  package-lock.json
  package.json
Due: none

v0.96.0
  lerna.json
  packages/components/package-lock.json
  packages/components/package.json
  packages/css/package-lock.json
  packages/css/package.json
  packages/library/package-lock.json
  packages/library/package.json
  packages/setup/package-lock.json
  packages/setup/package.json
Due: none

bumpstack papillonbits comply with node v21.5.0 npm v10.2.4
  package-lock.json
  package.json
Due: none

v0.97.0
  lerna.json
  packages/components/package-lock.json
  packages/components/package.json
  packages/css/package-lock.json
  packages/css/package.json
  packages/library/package-lock.json
  packages/library/package.json
  packages/setup/package-lock.json
  packages/setup/package.json
Due: none

v0.98.0
  lerna.json
  packages/components/package-lock.json
  packages/components/package.json
  packages/css/package-lock.json
  packages/css/package.json
  packages/library/package-lock.json
  packages/library/package.json
  packages/setup/package-lock.json
  packages/setup/package.json
Due: none

bumpstack papillonbits
  package-lock.json
  package.json
Due: none

bumpstack papillonbits comply with node v21.6.0 npm v10.2.4
  package-lock.json
  package.json
Due: none

v0.99.0
  lerna.json
  packages/components/package-lock.json
  packages/components/package.json
  packages/css/package-lock.json
  packages/css/package.json
  packages/library/package-lock.json
  packages/library/package.json
  packages/setup/package-lock.json
  packages/setup/package.json
Due: none

bumpstack papillonbits comply with node v21.6.1 npm v10.2.4
  package-lock.json
  package.json
  packages/components/package-lock.json
  packages/setup/src/webpack/constant/index.js
Due: eslint --ext .js --ext .jsx packages/setup/src/**/**/*.js --fix, prettier --write "packages/setup/src/**/**/*.js"

v1.0.0
  lerna.json
  packages/components/package-lock.json
  packages/components/package.json
  packages/css/package-lock.json
  packages/css/package.json
  packages/library/package-lock.json
  packages/library/package.json
  packages/setup/package-lock.json
  packages/setup/package.json
Due: none

update license
  LICENSE
Due: none

install papillonbits latest
  package-lock.json
  package.json
Due: none

bumpstack papillonbits comply with node v21.6.2 npm v10.2.4
  package-lock.json
  package.json
  packages/setup/src/webpack/constant/index.js
Due: eslint --ext .js --ext .jsx packages/setup/src/**/**/*.js --fix, prettier --write "packages/setup/src/**/**/*.js"

v1.1.0
  lerna.json
  packages/components/package-lock.json
  packages/components/package.json
  packages/setup/package-lock.json
  packages/setup/package.json
Due: none

bumpstack papillonbits comply with node v21.7.1 npm v10.5.0
  package-lock.json
  package.json
Due: none

apply non-breaking space
  README.md
Due: none

update corejs version
  packages/setup/src/webpack/constant/index.js
Due: eslint --ext .js --ext .jsx packages/setup/src/**/**/*.js --fix, prettier --write "packages/setup/src/**/**/*.js"

v1.2.0
  lerna.json
  packages/components/package-lock.json
  packages/components/package.json
  packages/css/package-lock.json
  packages/css/package.json
  packages/library/package-lock.json
  packages/library/package.json
  packages/setup/package-lock.json
  packages/setup/package.json
Due: none
