Repository papillonbits/papillonbits: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .js --ext .jsx packages/components/src/**/**/*.{js,jsx} --fix, prettier --write "packages/components/src/**/**/*.{js,jsx}", eslint --ext .js --ext .jsx packages/library/src/**/**/*.js --fix, prettier --write "packages/library/src/**/**/*.js", eslint --ext .js --ext .jsx packages/setup/src/**/**/*.js --fix, prettier --write "packages/setup/src/**/**/*.js", stylelint "packages/components/src/**/**/*.scss" --custom-syntax=postcss-scss --fix, prettier --write "packages/components/src/**/**/*.scss"

bumpstack papillonbits
  package-lock.json
  package.json
  packages/components/package-lock.json
  packages/css/package-lock.json
  packages/library/package-lock.json
  packages/setup/package-lock.json
Due: none

restore papillonbits package references
  .storybook/main.js
  babel.config.js
  jest.config.js
  packages/components/babel.config.js
  packages/components/src/primer/index.js
  packages/library/babel.config.js
  packages/setup/babel.config.js
  packages/setup/src/storybook/setup/mainSetup.js
Due: eslint --ext .js --ext .jsx packages/components/src/**/**/*.{js,jsx} --fix, prettier --write "packages/components/src/**/**/*.{js,jsx}", eslint --ext .js --ext .jsx packages/setup/src/**/**/*.js --fix, prettier --write "packages/setup/src/**/**/*.js"

v1.2.1
  lerna.json
  packages/components/package-lock.json
  packages/components/package.json
  packages/css/package-lock.json
  packages/css/package.json
  packages/library/package-lock.json
  packages/library/package.json
  packages/setup/package-lock.json
  packages/setup/package.json
Due: none

install papillonbits latest
  package-lock.json
  package.json
  packages/components/package-lock.json
  packages/css/package-lock.json
  packages/library/package-lock.json
  packages/setup/package-lock.json
Due: none

update webpack devServer setup
  packages/setup/src/webpack/server/devServer.js
Due: eslint --ext .js --ext .jsx packages/setup/src/**/**/*.js --fix, prettier --write "packages/setup/src/**/**/*.js"

v1.2.2
  lerna.json
  packages/components/package-lock.json
  packages/components/package.json
  packages/css/package-lock.json
  packages/css/package.json
  packages/library/package-lock.json
  packages/library/package.json
  packages/setup/package-lock.json
  packages/setup/package.json
Due: none

install papillonbits latest
  package-lock.json
  package.json
  packages/components/package-lock.json
Due: none

update webpack cssLoader setup
  packages/setup/src/webpack/loader/cssLoader.js
  packages/setup/src/webpack/setup/developmentSetup.js
  packages/setup/src/webpack/setup/productionSetup.js
Due: eslint --ext .js --ext .jsx packages/setup/src/**/**/*.js --fix, prettier --write "packages/setup/src/**/**/*.js"

v1.2.3
  lerna.json
  packages/components/package-lock.json
  packages/components/package.json
  packages/setup/package-lock.json
  packages/setup/package.json
Due: none

restore component subhead styles
  packages/components/src/primer/Subhead/Subhead.scss
Due: stylelint "packages/components/src/**/**/*.scss" --custom-syntax=postcss-scss --fix, prettier --write "packages/components/src/**/**/*.scss"

v1.2.4
  lerna.json
  packages/components/package-lock.json
  packages/components/package.json
Due: none

update icons to primer/css v21.4.0
  packages/css/src/primer/utilities/visibility-display.scss
Due: none

update corejs version
  packages/setup/src/webpack/constant/index.js
Due: eslint --ext .js --ext .jsx packages/setup/src/**/**/*.js --fix, prettier --write "packages/setup/src/**/**/*.js"

update react version
  packages/setup/src/eslint/index.js
Due: eslint --ext .js --ext .jsx packages/setup/src/**/**/*.js --fix, prettier --write "packages/setup/src/**/**/*.js"

update icon snapshots
  packages/components/src/primer/Icon/__tests__/__snapshots__/Icon.int.test.js.snap
Due: none

bumpstack papillonbits
  package-lock.json
  package.json
  packages/css/package-lock.json
  packages/library/package-lock.json
  packages/setup/package-lock.json
Due: none

extend storybook package setup
  .storybook/manager.js
  .storybook/preview.js
  packages/setup/src/storybook/index.js
  packages/setup/src/storybook/setup/managerSetup.js
  packages/setup/src/storybook/setup/previewSetup.js
Due: eslint --ext .js --ext .jsx packages/setup/src/**/**/*.js --fix, prettier --write "packages/setup/src/**/**/*.js"

v1.3.0
  lerna.json
  packages/components/package-lock.json
  packages/components/package.json
  packages/css/package-lock.json
  packages/css/package.json
  packages/library/package-lock.json
  packages/library/package.json
  packages/setup/package-lock.json
  packages/setup/package.json
Due: none

update storybook package setup
  .storybook/manager.js
  .storybook/preview.js
  packages/setup/src/storybook/index.js
  packages/setup/src/storybook/mainSetup.js
  packages/setup/src/storybook/managerSetup.js
  packages/setup/src/storybook/previewSetup.js
Due: eslint --ext .js --ext .jsx packages/setup/src/**/**/*.js --fix, prettier --write "packages/setup/src/**/**/*.js"

v1.3.1
  lerna.json
  packages/components/package-lock.json
  packages/components/package.json
  packages/setup/package-lock.json
  packages/setup/package.json
Due: none

update storybook package setup
  .storybook/main.js
  .storybook/manager.js
  .storybook/preview.js
Due: none

v1.3.2
  lerna.json
  packages/components/package-lock.json
  packages/components/package.json
Due: none

update tags defaults
  .storybook/preview.js
  packages/setup/src/storybook/previewSetup.js
Due: eslint --ext .js --ext .jsx packages/setup/src/**/**/*.js --fix, prettier --write "packages/setup/src/**/**/*.js"

v1.3.3
  lerna.json
  packages/components/package-lock.json
  packages/components/package.json
  packages/setup/package-lock.json
  packages/setup/package.json
Due: none

update preview setup
  .storybook/preview.js
  packages/setup/src/storybook/previewSetup.js
Due: eslint --ext .js --ext .jsx packages/setup/src/**/**/*.js --fix, prettier --write "packages/setup/src/**/**/*.js"

v1.3.4
  lerna.json
  packages/components/package-lock.json
  packages/components/package.json
  packages/setup/package-lock.json
  packages/setup/package.json
Due: none

bumpstack papillonbits
  bumpstack.sh
  package-lock.json
  package.json
  packages/setup/src/webpack/constant/index.js
Due: eslint --ext .js --ext .jsx packages/setup/src/**/**/*.js --fix, prettier --write "packages/setup/src/**/**/*.js"

v1.4.0
  lerna.json
  packages/components/package-lock.json
  packages/components/package.json
  packages/css/package-lock.json
  packages/css/package.json
  packages/library/package-lock.json
  packages/library/package.json
  packages/setup/package-lock.json
  packages/setup/package.json
Due: none

bumpstack papillonbits
  bumpstack.sh
  package-lock.json
  package.json
  packages/css/package-lock.json
  packages/library/package-lock.json
  packages/setup/package-lock.json
Due: none

bumpstack papillonbits
  LICENSE
  package-lock.json
  package.json
Due: none

Path conditions:
  eslint --ext .js --ext .jsx packages/components/src/**/**/*.{js,jsx} --fix: any of: packages/components/src/**/*.{js,jsx}
  prettier --write "packages/components/src/**/**/*.{js,jsx}": any of: packages/components/src/**/*.{js,jsx}
  eslint --ext .js --ext .jsx packages/library/src/**/**/*.js --fix: any of: packages/library/src/**/*.js
  prettier --write "packages/library/src/**/**/*.js": any of: packages/library/src/**/*.js
  eslint --ext .js --ext .jsx packages/setup/src/**/**/*.js --fix: any of: packages/setup/src/**/*.js
  prettier --write "packages/setup/src/**/**/*.js": any of: packages/setup/src/**/*.js
  stylelint "packages/components/src/**/**/*.scss" --custom-syntax=postcss-scss --fix: any of: packages/components/src/**/*.scss
  prettier --write "packages/components/src/**/**/*.scss": any of: packages/components/src/**/*.scss
