Repository papillonbits/papillonbits: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .js --ext .jsx packages/components/src/**/**/*.{js,jsx} --fix, prettier --write "packages/components/src/**/**/*.{js,jsx}", eslint --ext .js --ext .jsx packages/docs/src/**/**/*.{js,jsx} --fix, prettier --write "packages/docs/src/**/**/*.{js,jsx}", eslint --ext .js --ext .jsx packages/library/src/**/**/*.js --fix, prettier --write "packages/library/src/**/**/*.js", stylelint "packages/components/src/**/**/*.scss" --custom-syntax=postcss-scss --fix, prettier --write "packages/components/src/**/**/*.scss"

.lintstagedrc:

{
  "packages/components/src/**/*.{js,jsx}": [
    "eslint --ext .js --ext .jsx packages/components/src/**/**/*.{js,jsx} --fix",
    "prettier --write \"packages/components/src/**/**/*.{js,jsx}\"",
    "git add"
  ],
  "packages/docs/src/**/*.{js,jsx}": [
    "eslint --ext .js --ext .jsx packages/docs/src/**/**/*.{js,jsx} --fix",
    "prettier --write \"packages/docs/src/**/**/*.{js,jsx}\"",
    "git add"
  ],
  "packages/library/src/**/*.js": [
    "eslint --ext .js --ext .jsx packages/library/src/**/**/*.js --fix",
    "prettier --write \"packages/library/src/**/**/*.js\"",
    "git add"
  ],
  "packages/components/src/**/*.scss": [
    "stylelint \"packages/components/src/**/**/*.scss\" --custom-syntax=postcss-scss --fix",
    "prettier --write \"packages/components/src/**/**/*.scss\"",
    "git add"
  ]
}

extend primer index with Icon
  packages/components/src/primer/index.js
Due: eslint --ext .js --ext .jsx packages/components/src/**/**/*.{js,jsx} --fix, prettier --write "packages/components/src/**/**/*.{js,jsx}"

align stylelint exclusions
  packages/components/src/primer/Box/box.scss
Due: stylelint "packages/components/src/**/**/*.scss" --custom-syntax=postcss-scss --fix, prettier --write "packages/components/src/**/**/*.scss"

implement Button component
  packages/components/src/primer/Button/Button.jsx
  packages/components/src/primer/Button/Button.md
  packages/components/src/primer/Button/Button.prop.js
  packages/components/src/primer/Button/Button.scss
  packages/components/src/primer/Button/__tests__/Button.int.story.js
  packages/components/src/primer/Button/__tests__/Button.int.test.js
  packages/components/src/primer/Button/__tests__/__snapshots__/Button.int.test.js.snap
  packages/components/src/primer/Button/index.js
  packages/components/src/primer/Button/misc.scss
Due: eslint --ext .js --ext .jsx packages/components/src/**/**/*.{js,jsx} --fix, prettier --write "packages/components/src/**/**/*.{js,jsx}", stylelint "packages/components/src/**/**/*.scss" --custom-syntax=postcss-scss --fix, prettier --write "packages/components/src/**/**/*.scss"

extend primer index with Button
  packages/components/src/primer/index.js
Due: eslint --ext .js --ext .jsx packages/components/src/**/**/*.{js,jsx} --fix, prettier --write "packages/components/src/**/**/*.{js,jsx}"

implement Alert component
  packages/components/src/primer/Alert/Alert.jsx
  packages/components/src/primer/Alert/__tests__/__snapshots__/Alert.int.test.js.snap
Due: eslint --ext .js --ext .jsx packages/components/src/**/**/*.{js,jsx} --fix, prettier --write "packages/components/src/**/**/*.{js,jsx}"

implement Form Input component
  packages/components/src/primer/Form/Input/Input.jsx
  packages/components/src/primer/Form/Input/Input.md
  packages/components/src/primer/Form/Input/Input.prop.js
  packages/components/src/primer/Form/Input/Input.scss
  packages/components/src/primer/Form/Input/__tests__/Input.int.story.js
  packages/components/src/primer/Form/Input/__tests__/Input.int.test.js
  packages/components/src/primer/Form/Input/__tests__/__snapshots__/Input.int.test.js.snap
  packages/components/src/primer/Form/Input/index.js
  packages/components/src/primer/Form/form-control.scss
  packages/components/src/primer/Form/form-group.scss
  packages/components/src/primer/Form/form-select.scss
  packages/components/src/primer/Form/form-validation.scss
  packages/components/src/primer/Form/index.js
  packages/components/src/primer/Form/index.scss
  packages/components/src/primer/Form/input-group.scss
  packages/components/src/primer/Form/radio-group.scss
  packages/components/src/primer/index.scss
Due: eslint --ext .js --ext .jsx packages/components/src/**/**/*.{js,jsx} --fix, prettier --write "packages/components/src/**/**/*.{js,jsx}", stylelint "packages/components/src/**/**/*.scss" --custom-syntax=postcss-scss --fix, prettier --write "packages/components/src/**/**/*.scss"

extend primer index with Form
  packages/components/src/primer/index.js
Due: eslint --ext .js --ext .jsx packages/components/src/**/**/*.{js,jsx} --fix, prettier --write "packages/components/src/**/**/*.{js,jsx}"

remove concept and content references
  .eslintignore
  .prettierignore
  .storybook/main.js
  .stylelintignore
  jest.config.js
Due: none

implement Dropdown component
  packages/components/src/primer/Dropdown/Dropdown.jsx
  packages/components/src/primer/Dropdown/Dropdown.md
  packages/components/src/primer/Dropdown/Dropdown.prop.js
  packages/components/src/primer/Dropdown/Dropdown.scss
  packages/components/src/primer/Dropdown/__tests__/Dropdown.int.story.js
  packages/components/src/primer/Dropdown/__tests__/Dropdown.int.test.js
  packages/components/src/primer/Dropdown/__tests__/__snapshots__/Dropdown.int.test.js.snap
  packages/components/src/primer/Dropdown/index.js
  packages/components/src/primer/index.js
Due: eslint --ext .js --ext .jsx packages/components/src/**/**/*.{js,jsx} --fix, prettier --write "packages/components/src/**/**/*.{js,jsx}", stylelint "packages/components/src/**/**/*.scss" --custom-syntax=postcss-scss --fix, prettier --write "packages/components/src/**/**/*.scss"

implement ErrorBoundary component
  packages/components/src/primer/ErrorBoundary/ErrorBoundary.jsx
  packages/components/src/primer/ErrorBoundary/ErrorBoundary.prop.js
  packages/components/src/primer/ErrorBoundary/__tests__/ErrorBoundary.int.story.js
  packages/components/src/primer/ErrorBoundary/__tests__/ErrorBoundary.int.test.js
  packages/components/src/primer/ErrorBoundary/__tests__/__snapshots__/ErrorBoundary.int.test.js.snap
  packages/components/src/primer/ErrorBoundary/index.js
  packages/components/src/primer/index.js
Due: eslint --ext .js --ext .jsx packages/components/src/**/**/*.{js,jsx} --fix, prettier --write "packages/components/src/**/**/*.{js,jsx}"

implement Form Checkbox component
  packages/components/src/primer/Form/Checkbox/Checkbox.jsx
  packages/components/src/primer/Form/Checkbox/Checkbox.md
  packages/components/src/primer/Form/Checkbox/Checkbox.prop.js
  packages/components/src/primer/Form/Checkbox/Checkbox.scss
  packages/components/src/primer/Form/Checkbox/__tests__/Checkbox.int.story.js
  packages/components/src/primer/Form/Checkbox/__tests__/Checkbox.int.test.js
  packages/components/src/primer/Form/Checkbox/__tests__/__snapshots__/Checkbox.int.test.js.snap
  packages/components/src/primer/Form/Checkbox/index.js
Due: eslint --ext .js --ext .jsx packages/components/src/**/**/*.{js,jsx} --fix, prettier --write "packages/components/src/**/**/*.{js,jsx}", stylelint "packages/components/src/**/**/*.scss" --custom-syntax=postcss-scss --fix, prettier --write "packages/components/src/**/**/*.scss"

implement Form Radio component
  packages/components/src/primer/Form/Radio/Radio.jsx
  packages/components/src/primer/Form/Radio/Radio.md
  packages/components/src/primer/Form/Radio/Radio.prop.js
  packages/components/src/primer/Form/Radio/Radio.scss
  packages/components/src/primer/Form/Radio/__tests__/Radio.int.story.js
  packages/components/src/primer/Form/Radio/__tests__/Radio.int.test.js
  packages/components/src/primer/Form/Radio/__tests__/__snapshots__/Radio.int.test.js.snap
  packages/components/src/primer/Form/Radio/index.js
Due: eslint --ext .js --ext .jsx packages/components/src/**/**/*.{js,jsx} --fix, prettier --write "packages/components/src/**/**/*.{js,jsx}", stylelint "packages/components/src/**/**/*.scss" --custom-syntax=postcss-scss --fix, prettier --write "packages/components/src/**/**/*.scss"

extend Form index with Checkbox and Radio
  packages/components/src/primer/Form/index.js
Due: eslint --ext .js --ext .jsx packages/components/src/**/**/*.{js,jsx} --fix, prettier --write "packages/components/src/**/**/*.{js,jsx}"

implement Grid DisplayTable component
  packages/components/src/primer/Grid/DisplayTable/DisplayTable.jsx
  packages/components/src/primer/Grid/DisplayTable/DisplayTable.md
  packages/components/src/primer/Grid/DisplayTable/DisplayTable.prop.js
  packages/components/src/primer/Grid/DisplayTable/__tests__/DisplayTable.int.data.js
  packages/components/src/primer/Grid/DisplayTable/__tests__/DisplayTable.int.story.js
  packages/components/src/primer/Grid/DisplayTable/__tests__/DisplayTable.int.test.js
  packages/components/src/primer/Grid/DisplayTable/__tests__/__snapshots__/DisplayTable.int.test.js.snap
  packages/components/src/primer/Grid/DisplayTable/index.js
Due: eslint --ext .js --ext .jsx packages/components/src/**/**/*.{js,jsx} --fix, prettier --write "packages/components/src/**/**/*.{js,jsx}"

implement Grid FlexGrid component
  packages/components/src/primer/Grid/FlexGrid/FlexGrid.jsx
  packages/components/src/primer/Grid/FlexGrid/FlexGrid.md
  packages/components/src/primer/Grid/FlexGrid/FlexGrid.prop.js
  packages/components/src/primer/Grid/FlexGrid/FlexGrid.scss
  packages/components/src/primer/Grid/FlexGrid/__tests__/FlexGrid.int.data.js
  packages/components/src/primer/Grid/FlexGrid/__tests__/FlexGrid.int.story.js
  packages/components/src/primer/Grid/FlexGrid/__tests__/FlexGrid.int.test.js
  packages/components/src/primer/Grid/FlexGrid/__tests__/__snapshots__/FlexGrid.int.test.js.snap
  packages/components/src/primer/Grid/FlexGrid/index.js
Due: eslint --ext .js --ext .jsx packages/components/src/**/**/*.{js,jsx} --fix, prettier --write "packages/components/src/**/**/*.{js,jsx}", stylelint "packages/components/src/**/**/*.scss" --custom-syntax=postcss-scss --fix, prettier --write "packages/components/src/**/**/*.scss"

implement Grid index
  packages/components/src/primer/Grid/index.js
Due: eslint --ext .js --ext .jsx packages/components/src/**/**/*.{js,jsx} --fix, prettier --write "packages/components/src/**/**/*.{js,jsx}"

extend primer index with Grid
  packages/components/src/primer/index.js
Due: eslint --ext .js --ext .jsx packages/components/src/**/**/*.{js,jsx} --fix, prettier --write "packages/components/src/**/**/*.{js,jsx}"

implement primer layout
  packages/components/src/primer/Layout/container.scss
  packages/components/src/primer/Layout/grid-offset.scss
  packages/components/src/primer/Layout/grid.scss
Due: stylelint "packages/components/src/**/**/*.scss" --custom-syntax=postcss-scss --fix, prettier --write "packages/components/src/**/**/*.scss"

implement Label component
  packages/components/src/primer/Label/Label.jsx
  packages/components/src/primer/Label/Label.md
  packages/components/src/primer/Label/Label.prop.js
  packages/components/src/primer/Label/__tests__/Label.int.story.js
  packages/components/src/primer/Label/__tests__/Label.int.test.js
  packages/components/src/primer/Label/__tests__/__snapshots__/Label.int.test.js.snap
  packages/components/src/primer/Label/counters.scss
  packages/components/src/primer/Label/diffstat.scss
  packages/components/src/primer/Label/index.js
  packages/components/src/primer/Label/index.scss
  packages/components/src/primer/Label/issue-labels.scss
  packages/components/src/primer/Label/labels.scss
  packages/components/src/primer/Label/mixins.scss
  packages/components/src/primer/Label/states.scss
Due: eslint --ext .js --ext .jsx packages/components/src/**/**/*.{js,jsx} --fix, prettier --write "packages/components/src/**/**/*.{js,jsx}", stylelint "packages/components/src/**/**/*.scss" --custom-syntax=postcss-scss --fix, prettier --write "packages/components/src/**/**/*.scss"

extend primer index with Label
  packages/components/src/primer/index.js
Due: eslint --ext .js --ext .jsx packages/components/src/**/**/*.{js,jsx} --fix, prettier --write "packages/components/src/**/**/*.{js,jsx}"

complement Label component imports
  packages/components/src/primer/Label/issue-labels.scss
  packages/components/src/primer/Label/labels.scss
  packages/components/src/primer/Label/mixins.scss
Due: stylelint "packages/components/src/**/**/*.scss" --custom-syntax=postcss-scss --fix, prettier --write "packages/components/src/**/**/*.scss"

implement Loader component
  packages/components/src/primer/Loader/Loader.jsx
  packages/components/src/primer/Loader/Loader.md
  packages/components/src/primer/Loader/Loader.prop.js
  packages/components/src/primer/Loader/Loader.scss
  packages/components/src/primer/Loader/__tests__/Loader.int.story.js
  packages/components/src/primer/Loader/__tests__/Loader.int.test.js
  packages/components/src/primer/Loader/__tests__/__snapshots__/Loader.int.test.js.snap
  packages/components/src/primer/Loader/index.js
Due: eslint --ext .js --ext .jsx packages/components/src/**/**/*.{js,jsx} --fix, prettier --write "packages/components/src/**/**/*.{js,jsx}", stylelint "packages/components/src/**/**/*.scss" --custom-syntax=postcss-scss --fix, prettier --write "packages/components/src/**/**/*.scss"

extend primer index with Loader
  packages/components/src/primer/index.js
Due: eslint --ext .js --ext .jsx packages/components/src/**/**/*.{js,jsx} --fix, prettier --write "packages/components/src/**/**/*.{js,jsx}"

complement Grid FlexGrid imports
  packages/components/src/primer/Grid/FlexGrid/FlexGrid.scss
Due: stylelint "packages/components/src/**/**/*.scss" --custom-syntax=postcss-scss --fix, prettier --write "packages/components/src/**/**/*.scss"

complement Label imports
  packages/components/src/primer/Label/counters.scss
Due: stylelint "packages/components/src/**/**/*.scss" --custom-syntax=postcss-scss --fix, prettier --write "packages/components/src/**/**/*.scss"

implement Navigation Menu component
  packages/components/src/primer/Navigation/Menu/Menu.jsx
  packages/components/src/primer/Navigation/Menu/Menu.md
  packages/components/src/primer/Navigation/Menu/Menu.prop.js
  packages/components/src/primer/Navigation/Menu/Menu.scss
  packages/components/src/primer/Navigation/Menu/__tests__/Menu.int.story.js
  packages/components/src/primer/Navigation/Menu/__tests__/Menu.int.test.js
  packages/components/src/primer/Navigation/Menu/__tests__/__snapshots__/Menu.int.test.js.snap
  packages/components/src/primer/Navigation/Menu/index.js
Due: eslint --ext .js --ext .jsx packages/components/src/**/**/*.{js,jsx} --fix, prettier --write "packages/components/src/**/**/*.{js,jsx}", stylelint "packages/components/src/**/**/*.scss" --custom-syntax=postcss-scss --fix, prettier --write "packages/components/src/**/**/*.scss"

implement Navigation TabNav component
  packages/components/src/primer/Navigation/TabNav/TabNav.jsx
  packages/components/src/primer/Navigation/TabNav/TabNav.md
  packages/components/src/primer/Navigation/TabNav/TabNav.prop.js
  packages/components/src/primer/Navigation/TabNav/TabNav.scss
  packages/components/src/primer/Navigation/TabNav/__tests__/TabNav.int.story.js
  packages/components/src/primer/Navigation/TabNav/__tests__/TabNav.int.test.js
  packages/components/src/primer/Navigation/TabNav/__tests__/__snapshots__/TabNav.int.test.js.snap
  packages/components/src/primer/Navigation/TabNav/index.js
Due: eslint --ext .js --ext .jsx packages/components/src/**/**/*.{js,jsx} --fix, prettier --write "packages/components/src/**/**/*.{js,jsx}", stylelint "packages/components/src/**/**/*.scss" --custom-syntax=postcss-scss --fix, prettier --write "packages/components/src/**/**/*.scss"

implement Navigation UnderlineNav component
  packages/components/src/primer/Navigation/UnderlineNav/UnderlineNav.jsx
  packages/components/src/primer/Navigation/UnderlineNav/UnderlineNav.md
  packages/components/src/primer/Navigation/UnderlineNav/UnderlineNav.prop.js
  packages/components/src/primer/Navigation/UnderlineNav/UnderlineNav.scss
  packages/components/src/primer/Navigation/UnderlineNav/__tests__/UnderlineNav.int.story.js
  packages/components/src/primer/Navigation/UnderlineNav/__tests__/UnderlineNav.int.test.js
  packages/components/src/primer/Navigation/UnderlineNav/__tests__/__snapshots__/UnderlineNav.int.test.js.snap
  packages/components/src/primer/Navigation/UnderlineNav/index.js
Due: eslint --ext .js --ext .jsx packages/components/src/**/**/*.{js,jsx} --fix, prettier --write "packages/components/src/**/**/*.{js,jsx}", stylelint "packages/components/src/**/**/*.scss" --custom-syntax=postcss-scss --fix, prettier --write "packages/components/src/**/**/*.scss"

implement Navigation index
  packages/components/src/primer/Navigation/index.js
Due: eslint --ext .js --ext .jsx packages/components/src/**/**/*.{js,jsx} --fix, prettier --write "packages/components/src/**/**/*.{js,jsx}"

extend primer index with Navigation
  packages/components/src/primer/index.js
Due: eslint --ext .js --ext .jsx packages/components/src/**/**/*.{js,jsx} --fix, prettier --write "packages/components/src/**/**/*.{js,jsx}"

implement Pagination PreviousNext
  packages/components/src/primer/Pagination/PreviousNext/PreviousNext.jsx
  packages/components/src/primer/Pagination/PreviousNext/PreviousNext.md
  packages/components/src/primer/Pagination/PreviousNext/PreviousNext.prop.js
  packages/components/src/primer/Pagination/PreviousNext/PreviousNext.scss
  packages/components/src/primer/Pagination/PreviousNext/__tests__/PreviousNext.int.story.js
  packages/components/src/primer/Pagination/PreviousNext/__tests__/PreviousNext.int.test.js
  packages/components/src/primer/Pagination/PreviousNext/__tests__/__snapshots__/PreviousNext.int.test.js.snap
  packages/components/src/primer/Pagination/PreviousNext/index.js
Due: eslint --ext .js --ext .jsx packages/components/src/**/**/*.{js,jsx} --fix, prettier --write "packages/components/src/**/**/*.{js,jsx}", stylelint "packages/components/src/**/**/*.scss" --custom-syntax=postcss-scss --fix, prettier --write "packages/components/src/**/**/*.scss"

implement Pagination index
  packages/components/src/primer/Pagination/index.js
Due: eslint --ext .js --ext .jsx packages/components/src/**/**/*.{js,jsx} --fix, prettier --write "packages/components/src/**/**/*.{js,jsx}"

extend primer index with Pagination
  packages/components/src/primer/index.js
Due: eslint --ext .js --ext .jsx packages/components/src/**/**/*.{js,jsx} --fix, prettier --write "packages/components/src/**/**/*.{js,jsx}"

implement Popover component
  packages/components/src/primer/Popover/Popover.jsx
  packages/components/src/primer/Popover/Popover.md
  packages/components/src/primer/Popover/Popover.prop.js
  packages/components/src/primer/Popover/Popover.scss
  packages/components/src/primer/Popover/__tests__/Popover.int.story.js
  packages/components/src/primer/Popover/__tests__/Popover.int.test.js
  packages/components/src/primer/Popover/index.js
Due: eslint --ext .js --ext .jsx packages/components/src/**/**/*.{js,jsx} --fix, prettier --write "packages/components/src/**/**/*.{js,jsx}", stylelint "packages/components/src/**/**/*.scss" --custom-syntax=postcss-scss --fix, prettier --write "packages/components/src/**/**/*.scss"

extend primer index with Popover
  packages/components/src/primer/Popover/__tests__/__snapshots__/Popover.int.test.js.snap
  packages/components/src/primer/index.js
Due: eslint --ext .js --ext .jsx packages/components/src/**/**/*.{js,jsx} --fix, prettier --write "packages/components/src/**/**/*.{js,jsx}"

implement Progress component
  packages/components/src/primer/Progress/Progress.jsx
  packages/components/src/primer/Progress/Progress.md
  packages/components/src/primer/Progress/Progress.prop.js
  packages/components/src/primer/Progress/Progress.scss
  packages/components/src/primer/Progress/__tests__/Progress.int.story.js
  packages/components/src/primer/Progress/__tests__/Progress.int.test.js
  packages/components/src/primer/Progress/__tests__/__snapshots__/Progress.int.test.js.snap
  packages/components/src/primer/Progress/index.js
Due: eslint --ext .js --ext .jsx packages/components/src/**/**/*.{js,jsx} --fix, prettier --write "packages/components/src/**/**/*.{js,jsx}", stylelint "packages/components/src/**/**/*.scss" --custom-syntax=postcss-scss --fix, prettier --write "packages/components/src/**/**/*.scss"

implement Select component
  packages/components/src/primer/Select/Select.jsx
  packages/components/src/primer/Select/Select.md
  packages/components/src/primer/Select/Select.prop.js
  packages/components/src/primer/Select/Select.scss
  packages/components/src/primer/Select/__tests__/Select.int.story.js
  packages/components/src/primer/Select/__tests__/Select.int.test.js
  packages/components/src/primer/Select/__tests__/__snapshots__/Select.int.test.js.snap
  packages/components/src/primer/Select/index.js
Due: eslint --ext .js --ext .jsx packages/components/src/**/**/*.{js,jsx} --fix, prettier --write "packages/components/src/**/**/*.{js,jsx}", stylelint "packages/components/src/**/**/*.scss" --custom-syntax=postcss-scss --fix, prettier --write "packages/components/src/**/**/*.scss"

implement SelectMenu component
  packages/components/src/primer/SelectMenu/SelectMenu.jsx
  packages/components/src/primer/SelectMenu/SelectMenu.md
  packages/components/src/primer/SelectMenu/SelectMenu.prop.js
  packages/components/src/primer/SelectMenu/SelectMenu.scss
  packages/components/src/primer/SelectMenu/__tests__/SelectMenu.int.story.js
  packages/components/src/primer/SelectMenu/__tests__/SelectMenu.int.test.js
  packages/components/src/primer/SelectMenu/__tests__/__snapshots__/SelectMenu.int.test.js.snap
  packages/components/src/primer/SelectMenu/index.js
Due: eslint --ext .js --ext .jsx packages/components/src/**/**/*.{js,jsx} --fix, prettier --write "packages/components/src/**/**/*.{js,jsx}", stylelint "packages/components/src/**/**/*.scss" --custom-syntax=postcss-scss --fix, prettier --write "packages/components/src/**/**/*.scss"

implement Subhead component
  packages/components/src/primer/Subhead/Subhead.jsx
  packages/components/src/primer/Subhead/Subhead.md
  packages/components/src/primer/Subhead/Subhead.prop.js
  packages/components/src/primer/Subhead/Subhead.scss
  packages/components/src/primer/Subhead/__tests__/Subhead.int.story.js
  packages/components/src/primer/Subhead/__tests__/Subhead.int.test.js
  packages/components/src/primer/Subhead/__tests__/__snapshots__/Subhead.int.test.js.snap
  packages/components/src/primer/Subhead/index.js
Due: eslint --ext .js --ext .jsx packages/components/src/**/**/*.{js,jsx} --fix, prettier --write "packages/components/src/**/**/*.{js,jsx}", stylelint "packages/components/src/**/**/*.scss" --custom-syntax=postcss-scss --fix, prettier --write "packages/components/src/**/**/*.scss"
