Repository papillonbits/papillonbits: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .js --ext .jsx packages/components/src/**/**/*.{js,jsx} --fix, prettier --write "packages/components/src/**/**/*.{js,jsx}", eslint --ext .js --ext .jsx packages/docs/src/**/**/*.{js,jsx} --fix, prettier --write "packages/docs/src/**/**/*.{js,jsx}", eslint --ext .js --ext .jsx packages/library/src/**/**/*.js --fix, prettier --write "packages/library/src/**/**/*.js", stylelint "packages/components/src/**/**/*.scss" --custom-syntax=postcss-scss --fix, prettier --write "packages/components/src/**/**/*.scss"

.lintstagedrc:

{
  "packages/components/src/**/*.{js,jsx}": [
    "eslint --ext .js --ext .jsx packages/components/src/**/**/*.{js,jsx} --fix",
    "prettier --write \"packages/components/src/**/**/*.{js,jsx}\"",
    "git add"
  ],
  "packages/docs/src/**/*.{js,jsx}": [
    "eslint --ext .js --ext .jsx packages/docs/src/**/**/*.{js,jsx} --fix",
    "prettier --write \"packages/docs/src/**/**/*.{js,jsx}\"",
    "git add"
  ],
  "packages/library/src/**/*.js": [
    "eslint --ext .js --ext .jsx packages/library/src/**/**/*.js --fix",
    "prettier --write \"packages/library/src/**/**/*.js\"",
    "git add"
  ],
  "packages/components/src/**/*.scss": [
    "stylelint \"packages/components/src/**/**/*.scss\" --custom-syntax=postcss-scss --fix",
    "prettier --write \"packages/components/src/**/**/*.scss\"",
    "git add"
  ]
}

implement Toast component
  packages/components/src/primer/Toast/Toast.jsx
  packages/components/src/primer/Toast/Toast.md
  packages/components/src/primer/Toast/Toast.prop.js
  packages/components/src/primer/Toast/Toast.scss
  packages/components/src/primer/Toast/__tests__/Toast.int.story.js
  packages/components/src/primer/Toast/__tests__/Toast.int.test.js
  packages/components/src/primer/Toast/__tests__/__snapshots__/Toast.int.test.js.snap
  packages/components/src/primer/Toast/index.js
Due: eslint --ext .js --ext .jsx packages/components/src/**/**/*.{js,jsx} --fix, prettier --write "packages/components/src/**/**/*.{js,jsx}", stylelint "packages/components/src/**/**/*.scss" --custom-syntax=postcss-scss --fix, prettier --write "packages/components/src/**/**/*.scss"

extend primer index with Progress Select SelectMenu subhead and Toast
  packages/components/src/primer/index.js
Due: eslint --ext .js --ext .jsx packages/components/src/**/**/*.{js,jsx} --fix, prettier --write "packages/components/src/**/**/*.{js,jsx}"

reset jest thresholds
  jest.config.js
Due: none

v0.5.0
  lerna.json
  packages/components/package-lock.json
  packages/components/package.json
  packages/css/package-lock.json
  packages/css/package.json
  packages/library/package.json
Due: none

bumpstack papillonbits comply with React v18.0.0 & React Router v6.3.0
  .eslintrc
  bumpstack.sh
  package-lock.json
  package.json
  packages/components/package-lock.json
  packages/components/src/primer/Grid/DisplayTable/__tests__/__snapshots__/DisplayTable.int.test.js.snap
  packages/library/package-lock.json
Due: none

v0.6.0
  lerna.json
  packages/components/package-lock.json
  packages/components/package.json
  packages/css/package-lock.json
  packages/css/package.json
  packages/library/package-lock.json
  packages/library/package.json
Due: none

update color modes themes
  packages/css/src/primer/color-modes/index.scss
  packages/css/src/primer/color-modes/themes/dark_tritanopia.scss
  packages/css/src/primer/color-modes/themes/light_tritanopia.scss
Due: none

update Icon parts
  packages/components/src/primer/Icon/Icon.part.js
Due: eslint --ext .js --ext .jsx packages/components/src/**/**/*.{js,jsx} --fix, prettier --write "packages/components/src/**/**/*.{js,jsx}"

update Icon props
  packages/components/src/primer/Icon/Icon.prop.js
Due: eslint --ext .js --ext .jsx packages/components/src/**/**/*.{js,jsx} --fix, prettier --write "packages/components/src/**/**/*.{js,jsx}"

update Icon tests
  packages/components/src/primer/Icon/__tests__/__snapshots__/Icon.int.test.js.snap
Due: none

update dependencies and report coverage
  .eslintignore
  .gitignore
  .prettierignore
  .stylelintignore
  .travis.yml
  bumpstack.sh
  jest.setup.js
  package-lock.json
  package.json
  packages/components/package-lock.json
  packages/components/package.json
  packages/css/package-lock.json
  packages/css/package.json
  packages/library/package-lock.json
  packages/library/package.json
Due: none

bumpstack papillonbits
  package-lock.json
  package.json
Due: none

v0.7.0
  lerna.json
  packages/components/package-lock.json
  packages/components/package.json
  packages/css/package-lock.json
  packages/css/package.json
  packages/library/package-lock.json
  packages/library/package.json
Due: none

bumpstack papillonbits comply with node v17.9.0
  bumpstack.sh
  package-lock.json
  package.json
  packages/components/package-lock.json
  packages/css/package-lock.json
  packages/library/package-lock.json
Due: none

bumpstack papillonbits comply with node v18.0.0
  bumpstack.sh
  package-lock.json
  package.json
Due: none

comply with primer/css v20.0.0 primer/primitives v7.8.3
  packages/components/src/index.scss
  packages/components/src/primer/BranchName/branch-name.scss
  packages/components/src/primer/Button/Button.scss
  packages/components/src/primer/Dropdown/Dropdown.scss
  packages/components/src/primer/Form/form-control.scss
  packages/components/src/primer/Form/form-group.scss
  packages/components/src/primer/Form/form-validation.scss
  packages/components/src/primer/Form/input-group.scss
  packages/components/src/primer/Navigation/Menu/Menu.scss
  packages/components/src/primer/Navigation/TabNav/TabNav.scss
  packages/components/src/primer/Navigation/UnderlineNav/UnderlineNav.scss
  packages/components/src/primer/Pagination/PreviousNext/PreviousNext.scss
  packages/components/src/primer/Popover/Popover.scss
  packages/components/src/primer/Toast/Toast.scss
  packages/css/src/primer/base/base.scss
  packages/css/src/primer/base/normalize.scss
  packages/css/src/primer/support/mixins/color-modes.scss
  packages/css/src/primer/support/mixins/layout.scss
  packages/css/src/primer/support/mixins/misc.scss
  packages/css/src/primer/support/variables/layout.scss
  packages/css/src/primer/utilities/details.scss
Due: stylelint "packages/components/src/**/**/*.scss" --custom-syntax=postcss-scss --fix, prettier --write "packages/components/src/**/**/*.scss"

v0.8.0
  lerna.json
  packages/components/package-lock.json
  packages/components/package.json
  packages/css/package-lock.json
  packages/css/package.json
  packages/library/package-lock.json
  packages/library/package.json
Due: none

bumpstack papillonbits comply with node v18.1.0
  bumpstack.sh
  package-lock.json
  package.json
  packages/components/package-lock.json
  packages/components/src/primer/Alert/__tests__/__snapshots__/Alert.int.test.js.snap
  packages/components/src/primer/Blankslate/__tests__/__snapshots__/Blankslate.int.test.js.snap
  packages/components/src/primer/Breadcrumb/__tests__/__snapshots__/Breadcrumb.int.test.js.snap
  packages/components/src/primer/Button/__tests__/__snapshots__/Button.int.test.js.snap
  packages/components/src/primer/Dropdown/__tests__/__snapshots__/Dropdown.int.test.js.snap
  packages/components/src/primer/ErrorBoundary/__tests__/__snapshots__/ErrorBoundary.int.test.js.snap
  packages/components/src/primer/Icon/__tests__/__snapshots__/Icon.int.test.js.snap
  packages/components/src/primer/Label/__tests__/__snapshots__/Label.int.test.js.snap
  packages/components/src/primer/Loader/__tests__/__snapshots__/Loader.int.test.js.snap
  packages/components/src/primer/Popover/__tests__/__snapshots__/Popover.int.test.js.snap
  packages/components/src/primer/Progress/__tests__/__snapshots__/Progress.int.test.js.snap
  packages/components/src/primer/Select/__tests__/__snapshots__/Select.int.test.js.snap
  packages/components/src/primer/SelectMenu/__tests__/__snapshots__/SelectMenu.int.test.js.snap
  packages/components/src/primer/Subhead/__tests__/__snapshots__/Subhead.int.test.js.snap
  packages/components/src/primer/Toast/__tests__/__snapshots__/Toast.int.test.js.snap
  packages/css/package-lock.json
  packages/css/src/primer/utilities/details.scss
  packages/library/package-lock.json
Due: none

v0.9.0
  lerna.json
  packages/components/package-lock.json
  packages/components/package.json
  packages/css/package-lock.json
  packages/css/package.json
  packages/library/package-lock.json
  packages/library/package.json
Due: none

install papillonbits latest
  package-lock.json
  package.json
  packages/components/package-lock.json
  packages/css/package-lock.json
  packages/library/package-lock.json
Due: none

restore snapshots
  packages/components/src/primer/Alert/__tests__/__snapshots__/Alert.int.test.js.snap
  packages/components/src/primer/Blankslate/__tests__/__snapshots__/Blankslate.int.test.js.snap
  packages/components/src/primer/Breadcrumb/__tests__/__snapshots__/Breadcrumb.int.test.js.snap
  packages/components/src/primer/Button/__tests__/__snapshots__/Button.int.test.js.snap
  packages/components/src/primer/Dropdown/__tests__/__snapshots__/Dropdown.int.test.js.snap
  packages/components/src/primer/ErrorBoundary/__tests__/__snapshots__/ErrorBoundary.int.test.js.snap
  packages/components/src/primer/Icon/__tests__/__snapshots__/Icon.int.test.js.snap
  packages/components/src/primer/Label/__tests__/__snapshots__/Label.int.test.js.snap
  packages/components/src/primer/Loader/__tests__/__snapshots__/Loader.int.test.js.snap
  packages/components/src/primer/Popover/__tests__/__snapshots__/Popover.int.test.js.snap
  packages/components/src/primer/Progress/__tests__/__snapshots__/Progress.int.test.js.snap
  packages/components/src/primer/Select/__tests__/__snapshots__/Select.int.test.js.snap
  packages/components/src/primer/SelectMenu/__tests__/__snapshots__/SelectMenu.int.test.js.snap
  packages/components/src/primer/Subhead/__tests__/__snapshots__/Subhead.int.test.js.snap
  packages/components/src/primer/Toast/__tests__/__snapshots__/Toast.int.test.js.snap
Due: none

bumpstack papillonbits
  bumpstack.sh
  package-lock.json
  package.json
Due: none

bumpstack papillonbits comply with node v18.2.0
  package-lock.json
  package.json
Due: none

v0.10.0
  lerna.json
  packages/components/package-lock.json
  packages/components/package.json
  packages/css/package-lock.json
  packages/css/package.json
  packages/library/package-lock.json
  packages/library/package.json
Due: none

bumpstack papillonbits update storybook setup
  .storybook/main.js
  bumpstack.sh
  package-lock.json
  package.json
  packages/components/.babelrc
  packages/components/package-lock.json
  packages/css/package-lock.json
  packages/library/.babelrc
  packages/library/package-lock.json
Due: none

update icons to primer/octicons v17.3.0
  packages/components/src/primer/Icon/Icon.part.js
  packages/components/src/primer/Icon/Icon.prop.js
  packages/components/src/primer/SVG/icon/copilot-16.svg
  packages/components/src/primer/SVG/icon/copilot-24.svg
  packages/components/src/primer/SVG/icon/copilot-48.svg
  packages/components/src/primer/SVG/icon/copilot-96.svg
  packages/components/src/primer/SVG/icon/copilot-error-16.svg
  packages/components/src/primer/SVG/icon/copilot-warning-16.svg
  packages/components/src/primer/SVG/icon/file-16.svg
  packages/components/src/primer/SVG/icon/file-added-16.svg
  packages/components/src/primer/SVG/icon/file-moved-16.svg
  packages/components/src/primer/SVG/icon/file-removed-16.svg
  packages/components/src/primer/SVG/icon/organization-24.svg
  packages/components/src/primer/SVG/icon/repo-locked-24.svg
  packages/components/src/primer/SVG/icon/sliders-16.svg
Due: eslint --ext .js --ext .jsx packages/components/src/**/**/*.{js,jsx} --fix, prettier --write "packages/components/src/**/**/*.{js,jsx}"

update css to primer/css v20.2.2
  packages/components/src/primer/Dropdown/Dropdown.scss
  packages/components/src/primer/Form/form-control.scss
  packages/components/src/primer/Pagination/PreviousNext/PreviousNext.scss
  packages/css/src/primer/utilities/typography.scss
Due: stylelint "packages/components/src/**/**/*.scss" --custom-syntax=postcss-scss --fix, prettier --write "packages/components/src/**/**/*.scss"

bumpstack papillonbits
  package-lock.json
  packages/components/src/primer/Icon/__tests__/__snapshots__/Icon.int.test.js.snap
Due: none

v0.11.0
  lerna.json
  packages/components/package-lock.json
  packages/components/package.json
  packages/css/package-lock.json
  packages/css/package.json
  packages/library/package-lock.json
  packages/library/package.json
Due: none

bumpstack papillonbits
  package-lock.json
  package.json
  packages/components/package-lock.json
  packages/css/package-lock.json
  packages/library/package-lock.json
Due: none

add docs setup
  package-lock.json
  package.json
  packages/components/src/index.scss
  packages/docs/README.md
  packages/docs/bumpstack.sh
  packages/docs/package-lock.json
  packages/docs/package.json
  packages/docs/paths.js
  packages/docs/public/example.png
  packages/docs/template.html
  packages/docs/webpack.acceptance.js
  packages/docs/webpack.common.js
  packages/docs/webpack.develop.js
  packages/docs/webpack.release.js
  packages/docs/webpack.test.js
  postcss.config.js
Due: stylelint "packages/components/src/**/**/*.scss" --custom-syntax=postcss-scss --fix, prettier --write "packages/components/src/**/**/*.scss"

v0.12.0
  lerna.json
  packages/components/package-lock.json
  packages/components/package.json
  packages/css/package-lock.json
  packages/css/package.json
  packages/library/package-lock.json
  packages/library/package.json
Due: none

complement docs setup
  lerna.json
  package-lock.json
  package.json
  packages/components/package-lock.json
  packages/css/package-lock.json
  packages/docs/package-lock.json
  packages/docs/package.json
  packages/docs/src/index.js
  packages/docs/src/template.html
  packages/docs/webpack.develop.js
  packages/library/package-lock.json
Due: eslint --ext .js --ext .jsx packages/docs/src/**/**/*.{js,jsx} --fix, prettier --write "packages/docs/src/**/**/*.{js,jsx}"

v0.13.0
  lerna.json
  packages/components/package-lock.json
  packages/components/package.json
  packages/css/package-lock.json
  packages/css/package.json
  packages/library/package-lock.json
  packages/library/package.json
Due: none
