Repository papillonbits/papillonbits: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .js --ext .jsx packages/components/src/**/**/*.{js,jsx} --fix, prettier --write "packages/components/src/**/**/*.{js,jsx}", eslint --ext .js --ext .jsx packages/library/src/**/**/*.js --fix, prettier --write "packages/library/src/**/**/*.js", eslint --ext .js --ext .jsx packages/setup/src/**/**/*.js --fix, prettier --write "packages/setup/src/**/**/*.js", stylelint "packages/components/src/**/**/*.scss" --custom-syntax=postcss-scss --fix, prettier --write "packages/components/src/**/**/*.scss"

bumpstack papillonbits
  package-lock.json
  package.json
Due: none

bumpstack papillonbits comply with node v20.5.0 npm v9.8.0
  package-lock.json
  package.json
Due: none

v0.84.0
  lerna.json
  packages/components/package-lock.json
  packages/components/package.json
  packages/css/package-lock.json
  packages/css/package.json
  packages/library/package-lock.json
  packages/library/package.json
  packages/setup/package-lock.json
  packages/setup/package.json
Due: none

install papillonbits latest
  package-lock.json
  package.json
  packages/components/package-lock.json
Due: none

bumpstack papillonbits
  package-lock.json
  package.json
  packages/setup/src/webpack/constant/index.js
Due: eslint --ext .js --ext .jsx packages/setup/src/**/**/*.js --fix, prettier --write "packages/setup/src/**/**/*.js"

v0.85.0
  lerna.json
  packages/components/package-lock.json
  packages/components/package.json
  packages/css/package-lock.json
  packages/css/package.json
  packages/library/package-lock.json
  packages/library/package.json
  packages/setup/package-lock.json
  packages/setup/package.json
Due: none

bumpstack papillonbits comply with node v20.5.1 npm v9.8.0
  package-lock.json
  package.json
Due: none

v0.86.0
  lerna.json
  packages/components/package-lock.json
  packages/components/package.json
  packages/css/package-lock.json
  packages/css/package.json
  packages/library/package-lock.json
  packages/library/package.json
  packages/setup/package-lock.json
  packages/setup/package.json
Due: none

add ImageSlider images
  packages/components/src/primer/ImageSlider/ImageSlider.images.js
  packages/components/src/primer/ImageSlider/images/0.jpg
  packages/components/src/primer/ImageSlider/images/1.jpg
  packages/components/src/primer/ImageSlider/images/2.jpg
  packages/components/src/primer/ImageSlider/images/3.jpg
Due: eslint --ext .js --ext .jsx packages/components/src/**/**/*.{js,jsx} --fix, prettier --write "packages/components/src/**/**/*.{js,jsx}"

implement draggable canvas ImageSlider
  packages/components/src/primer/ImageSlider/ImageSlider.jsx
  packages/components/src/primer/ImageSlider/ImageSlider.md
  packages/components/src/primer/ImageSlider/ImageSlider.prop.js
  packages/components/src/primer/ImageSlider/index.js
Due: eslint --ext .js --ext .jsx packages/components/src/**/**/*.{js,jsx} --fix, prettier --write "packages/components/src/**/**/*.{js,jsx}"

style draggable canvas ImageSlider
  packages/components/src/primer/ImageSlider/ImageSlider.scss
Due: stylelint "packages/components/src/**/**/*.scss" --custom-syntax=postcss-scss --fix, prettier --write "packages/components/src/**/**/*.scss"

test draggable canvas ImageSlider
  packages/components/src/primer/ImageSlider/__tests__/ImageSlider.int.story.js
  packages/components/src/primer/ImageSlider/__tests__/ImageSlider.int.test.js
  packages/components/src/primer/ImageSlider/__tests__/__snapshots__/ImageSlider.int.test.js.snap
Due: eslint --ext .js --ext .jsx packages/components/src/**/**/*.{js,jsx} --fix, prettier --write "packages/components/src/**/**/*.{js,jsx}"

extend primer index with ImageSlider
  packages/components/src/primer/index.js
Due: eslint --ext .js --ext .jsx packages/components/src/**/**/*.{js,jsx} --fix, prettier --write "packages/components/src/**/**/*.{js,jsx}"

reset jest thresholds
  jest.config.js
Due: none

v0.87.0
  lerna.json
  packages/components/package-lock.json
  packages/components/package.json
  packages/css/package-lock.json
  packages/css/package.json
  packages/library/package-lock.json
  packages/library/package.json
  packages/setup/package-lock.json
  packages/setup/package.json
Due: none

abstract out ImageSlider images to props
  packages/components/src/primer/ImageSlider/ImageSlider.jsx
  packages/components/src/primer/ImageSlider/ImageSlider.scss
  packages/components/src/primer/ImageSlider/__tests__/ImageSlider.int.image.js
  packages/components/src/primer/ImageSlider/__tests__/ImageSlider.int.story.js
  packages/components/src/primer/ImageSlider/__tests__/image/0.jpg
  packages/components/src/primer/ImageSlider/__tests__/image/1.jpg
  packages/components/src/primer/ImageSlider/__tests__/image/2.jpg
  packages/components/src/primer/ImageSlider/__tests__/image/3.jpg
  packages/components/src/primer/ImageSlider/__tests__/image/ImageSlider.images.js
Due: eslint --ext .js --ext .jsx packages/components/src/**/**/*.{js,jsx} --fix, prettier --write "packages/components/src/**/**/*.{js,jsx}", stylelint "packages/components/src/**/**/*.scss" --custom-syntax=postcss-scss --fix, prettier --write "packages/components/src/**/**/*.scss"

bumpstack papillonbits
  package-lock.json
  package.json
  packages/components/package-lock.json
  packages/components/src/primer/ImageSlider/__tests__/__snapshots__/ImageSlider.int.test.js.snap
Due: none

remove ImageSldier
  packages/components/src/primer/ImageSlider/ImageSlider.jsx
  packages/components/src/primer/ImageSlider/ImageSlider.md
  packages/components/src/primer/ImageSlider/ImageSlider.prop.js
  packages/components/src/primer/ImageSlider/ImageSlider.scss
  packages/components/src/primer/ImageSlider/__tests__/ImageSlider.int.image.js
  packages/components/src/primer/ImageSlider/__tests__/ImageSlider.int.story.js
  packages/components/src/primer/ImageSlider/__tests__/ImageSlider.int.test.js
  packages/components/src/primer/ImageSlider/__tests__/__snapshots__/ImageSlider.int.test.js.snap
  packages/components/src/primer/ImageSlider/__tests__/image/0.jpg
  packages/components/src/primer/ImageSlider/__tests__/image/1.jpg
  packages/components/src/primer/ImageSlider/__tests__/image/2.jpg
  packages/components/src/primer/ImageSlider/__tests__/image/3.jpg
  packages/components/src/primer/ImageSlider/__tests__/image/ImageSlider.images.js
  packages/components/src/primer/ImageSlider/index.js
  packages/components/src/primer/index.js
Due: eslint --ext .js --ext .jsx packages/components/src/**/**/*.{js,jsx} --fix, prettier --write "packages/components/src/**/**/*.{js,jsx}", stylelint "packages/components/src/**/**/*.scss" --custom-syntax=postcss-scss --fix, prettier --write "packages/components/src/**/**/*.scss"

v0.88.0
  lerna.json
  packages/components/package-lock.json
  packages/components/package.json
  packages/css/package-lock.json
  packages/css/package.json
  packages/library/package-lock.json
  packages/library/package.json
  packages/setup/package-lock.json
  packages/setup/package.json
Due: none

bumpstack papillonbits
  jest.config.js
  package-lock.json
  package.json
  packages/components/package-lock.json
Due: none

bumpstack papillonbits comply with node v20.6.0 npm v9.8.1
  package-lock.json
  package.json
Due: none

v0.89.0
  lerna.json
  packages/components/package-lock.json
  packages/components/package.json
  packages/css/package-lock.json
  packages/css/package.json
  packages/library/package-lock.json
  packages/library/package.json
  packages/setup/package-lock.json
  packages/setup/package.json
Due: none

bumpstack papillonbits
  package-lock.json
Due: none

bumpstack papillonbits comply with node v20.6.1 npm v9.8.1
  package-lock.json
  package.json
  packages/setup/src/webpack/constant/index.js
Due: eslint --ext .js --ext .jsx packages/setup/src/**/**/*.js --fix, prettier --write "packages/setup/src/**/**/*.js"

v0.90.0
  lerna.json
  packages/components/package-lock.json
  packages/components/package.json
  packages/css/package-lock.json
  packages/css/package.json
  packages/library/package-lock.json
  packages/library/package.json
  packages/setup/package-lock.json
  packages/setup/package.json
Due: none

bumpstack papillonbits comply with node v20.7.0 npm v10.1.0
  package-lock.json
  package.json
Due: none

v0.91.0
  lerna.json
  packages/components/package-lock.json
  packages/components/package.json
  packages/css/package-lock.json
  packages/css/package.json
  packages/library/package-lock.json
  packages/library/package.json
  packages/setup/package-lock.json
  packages/setup/package.json
Due: none

bumpstack papillonbits comply with node v20.8.0 npm v10.1.0
  package-lock.json
  package.json
Due: none

v0.92.0
  lerna.json
  packages/components/package-lock.json
  packages/components/package.json
  packages/css/package-lock.json
  packages/css/package.json
  packages/library/package-lock.json
  packages/library/package.json
  packages/setup/package-lock.json
  packages/setup/package.json
Due: none

Path conditions:
  eslint --ext .js --ext .jsx packages/components/src/**/**/*.{js,jsx} --fix: any of: packages/components/src/**/*.{js,jsx}
  prettier --write "packages/components/src/**/**/*.{js,jsx}": any of: packages/components/src/**/*.{js,jsx}
  eslint --ext .js --ext .jsx packages/library/src/**/**/*.js --fix: any of: packages/library/src/**/*.js
  prettier --write "packages/library/src/**/**/*.js": any of: packages/library/src/**/*.js
  eslint --ext .js --ext .jsx packages/setup/src/**/**/*.js --fix: any of: packages/setup/src/**/*.js
  prettier --write "packages/setup/src/**/**/*.js": any of: packages/setup/src/**/*.js
  stylelint "packages/components/src/**/**/*.scss" --custom-syntax=postcss-scss --fix: any of: packages/components/src/**/*.scss
  prettier --write "packages/components/src/**/**/*.scss": any of: packages/components/src/**/*.scss
