Repository papillonbits/papillonbits: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .js --ext .jsx packages/components/src/**/**/*.{js,jsx} --fix, prettier --write "packages/components/src/**/**/*.{js,jsx}", eslint --ext .js --ext .jsx packages/docs/src/**/**/*.{js,jsx} --fix, prettier --write "packages/docs/src/**/**/*.{js,jsx}", eslint --ext .js --ext .jsx packages/library/src/**/**/*.js --fix, prettier --write "packages/library/src/**/**/*.js", stylelint "packages/components/src/**/**/*.scss" --custom-syntax=postcss-scss --fix, prettier --write "packages/components/src/**/**/*.scss"

.lintstagedrc:

{
  "packages/components/src/**/*.{js,jsx}": [
    "eslint --ext .js --ext .jsx packages/components/src/**/**/*.{js,jsx} --fix",
    "prettier --write \"packages/components/src/**/**/*.{js,jsx}\"",
    "git add"
  ],
  "packages/docs/src/**/*.{js,jsx}": [
    "eslint --ext .js --ext .jsx packages/docs/src/**/**/*.{js,jsx} --fix",
    "prettier --write \"packages/docs/src/**/**/*.{js,jsx}\"",
    "git add"
  ],
  "packages/library/src/**/*.js": [
    "eslint --ext .js --ext .jsx packages/library/src/**/**/*.js --fix",
    "prettier --write \"packages/library/src/**/**/*.js\"",
    "git add"
  ],
  "packages/components/src/**/*.scss": [
    "stylelint \"packages/components/src/**/**/*.scss\" --custom-syntax=postcss-scss --fix",
    "prettier --write \"packages/components/src/**/**/*.scss\"",
    "git add"
  ]
}

v0.39.0
  lerna.json
  packages/components/package-lock.json
  packages/components/package.json
  packages/css/package-lock.json
  packages/css/package.json
  packages/library/package-lock.json
  packages/library/package.json
Due: none

implement library object isEmptyObject()
  packages/library/src/object/index.js
Due: eslint --ext .js --ext .jsx packages/library/src/**/**/*.js --fix, prettier --write "packages/library/src/**/**/*.js"

update package-lock
  package-lock.json
  packages/components/package-lock.json
Due: none

v0.40.0
  lerna.json
  packages/components/package-lock.json
  packages/components/package.json
  packages/css/package-lock.json
  packages/css/package.json
  packages/library/package-lock.json
  packages/library/package.json
Due: none

bump papillonbits components and library to v0.39
  package-lock.json
  package.json
Due: none

bump papillonbits components and library to v0.40
  package-lock.json
  package.json
Due: none

use isEmptyObject() from library object
  packages/library/src/object/index.js
  packages/library/src/storybook/setup/mainSetup.js
Due: eslint --ext .js --ext .jsx packages/library/src/**/**/*.js --fix, prettier --write "packages/library/src/**/**/*.js"

change library name from eslint-config to eslint
  package.json
  packages/library/package.json
  packages/library/src/eslint-config/index.js
  packages/library/src/eslint/index.js
Due: eslint --ext .js --ext .jsx packages/library/src/**/**/*.js --fix, prettier --write "packages/library/src/**/**/*.js"

v0.41.0
  lerna.json
  packages/components/package-lock.json
  packages/components/package.json
  packages/css/package-lock.json
  packages/css/package.json
  packages/library/package-lock.json
  packages/library/package.json
Due: none

bump papillonbits components and library to v0.41
  package-lock.json
  package.json
Due: none

implement eslint library
  packages/library/src/eslint/index.js
Due: eslint --ext .js --ext .jsx packages/library/src/**/**/*.js --fix, prettier --write "packages/library/src/**/**/*.js"

v0.42.0
  lerna.json
  packages/components/package-lock.json
  packages/components/package.json
  packages/css/package-lock.json
  packages/css/package.json
  packages/library/package-lock.json
  packages/library/package.json
Due: none

bump papillonbits components and library to v0.42
  package-lock.json
  package.json
Due: none

replace eslint setup
  .eslintrc
  .eslintrc.js
Due: none

rename to eslint setup
  .eslintrc.js
Due: none

implement prettier and stylelint libraries
  package.json
  packages/library/package.json
  packages/library/src/prettier/index.js
  packages/library/src/stylelint/index.js
Due: eslint --ext .js --ext .jsx packages/library/src/**/**/*.js --fix, prettier --write "packages/library/src/**/**/*.js"

v0.43.0
  lerna.json
  packages/components/package-lock.json
  packages/components/package.json
  packages/css/package-lock.json
  packages/css/package.json
  packages/library/package-lock.json
  packages/library/package.json
Due: none

bump papillonbits components and library to v0.43
  package-lock.json
  package.json
Due: none

replace prettier and eslint setups
  .prettierrc
  .prettierrc.js
  .stylelintrc
  .stylelintrc.js
Due: none

implement jest library
  package.json
  packages/library/package.json
  packages/library/src/jest/config.js
  packages/library/src/jest/index.js
  packages/library/src/jest/setup.js
Due: eslint --ext .js --ext .jsx packages/library/src/**/**/*.js --fix, prettier --write "packages/library/src/**/**/*.js"

v0.44.0
  lerna.json
  packages/components/package-lock.json
  packages/components/package.json
  packages/css/package-lock.json
  packages/css/package.json
  packages/library/package-lock.json
  packages/library/package.json
Due: none

bump papillonbits components and library to v0.44
  package-lock.json
  package.json
Due: none

replace jest setup
  jest.config.js
  jest.setup.js
Due: none

bumpstack papillonbits
  package-lock.json
  package.json
  packages/components/package-lock.json
  packages/library/src/webpack/constant/index.js
Due: eslint --ext .js --ext .jsx packages/library/src/**/**/*.js --fix, prettier --write "packages/library/src/**/**/*.js"

update icons to primer/octicons v17.7.0
  packages/components/src/primer/Icon/Icon.part.js
  packages/components/src/primer/Icon/Icon.prop.js
  packages/components/src/primer/SVG/icon/alert-fill-16.svg
  packages/components/src/primer/SVG/icon/alert-fill-24.svg
  packages/components/src/primer/SVG/icon/chevron-down-12.svg
  packages/components/src/primer/SVG/icon/chevron-right-12.svg
  packages/components/src/primer/SVG/icon/log-24.svg
Due: eslint --ext .js --ext .jsx packages/components/src/**/**/*.{js,jsx} --fix, prettier --write "packages/components/src/**/**/*.{js,jsx}"

update css to primer/css v20.4.6
  packages/components/src/primer/Box/box-overlay.scss
  packages/components/src/primer/Form/FormControl.scss
  packages/components/src/primer/Layout/app-frame.scss
Due: stylelint "packages/components/src/**/**/*.scss" --custom-syntax=postcss-scss --fix, prettier --write "packages/components/src/**/**/*.scss"

update icon snapshots
  packages/components/src/primer/Icon/__tests__/__snapshots__/Icon.int.test.js.snap
Due: none

v0.45.0
  lerna.json
  packages/components/package-lock.json
  packages/components/package.json
  packages/css/package-lock.json
  packages/css/package.json
  packages/library/package-lock.json
  packages/library/package.json
Due: none

bump papillonbits components and library to v0.45
  package-lock.json
  package.json
  packages/components/package-lock.json
Due: none

extend getJestSetup() arguments with coverageDirectory
  packages/library/src/jest/config.js
Due: eslint --ext .js --ext .jsx packages/library/src/**/**/*.js --fix, prettier --write "packages/library/src/**/**/*.js"

install webpack-merge
  bumpstack.sh
  package-lock.json
  package.json
Due: none

merge with webpack common setup
  packages/library/src/webpack/setup/developmentSetup.js
  packages/library/src/webpack/setup/productionSetup.js
Due: eslint --ext .js --ext .jsx packages/library/src/**/**/*.js --fix, prettier --write "packages/library/src/**/**/*.js"

v0.46.0
  lerna.json
  packages/components/package-lock.json
  packages/components/package.json
  packages/css/package-lock.json
  packages/css/package.json
  packages/library/package-lock.json
  packages/library/package.json
Due: none

bump papillonbits components and library to v0.46
  package-lock.json
  package.json
  packages/components/package-lock.json
Due: none

change coverage folder
  .eslintignore
  .gitignore
  .prettierignore
  .stylelintignore
  jest.config.js
  package-lock.json
  package.json
Due: none

update husky setup
  .husky/pre-commit
  .huskyrc
Due: none

ignore .coverage and .husky folders
  .eslintignore
  .gitignore
  .prettierignore
  .stylelintignore
Due: none

remove unnecessary eslint turn off
  packages/components/src/primer/Dropdown/Dropdown.jsx
  packages/components/src/primer/Popover/Popover.jsx
  packages/components/src/primer/Select/Select.jsx
  packages/library/src/storybook/setup/mainSetup.js
Due: eslint --ext .js --ext .jsx packages/components/src/**/**/*.{js,jsx} --fix, prettier --write "packages/components/src/**/**/*.{js,jsx}", eslint --ext .js --ext .jsx packages/library/src/**/**/*.js --fix, prettier --write "packages/library/src/**/**/*.js"

replace pre-commit hook with pre-push hook
  .husky/pre-push
Due: none
