Repository papillonbits/papillonbits: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .js --ext .jsx packages/components/src/**/**/*.{js,jsx} --fix, prettier --write "packages/components/src/**/**/*.{js,jsx}", eslint --ext .js --ext .jsx packages/library/src/**/**/*.js --fix, prettier --write "packages/library/src/**/**/*.js", eslint --ext .js --ext .jsx packages/setup/src/**/**/*.js --fix, prettier --write "packages/setup/src/**/**/*.js", stylelint "packages/components/src/**/**/*.scss" --custom-syntax=postcss-scss --fix, prettier --write "packages/components/src/**/**/*.scss"

v0.61.0
  lerna.json
  packages/components/package-lock.json
  packages/components/package.json
  packages/css/package-lock.json
  packages/css/package.json
  packages/library/package-lock.json
  packages/library/package.json
  packages/setup/package-lock.json
  packages/setup/package.json
Due: none

install papillonbits latest
  package-lock.json
  package.json
  packages/components/package-lock.json
Due: none

bumpstack papillonbits comply with node v19.5.0 and npm v9.3.1
  package-lock.json
  package.json
  packages/setup/src/webpack/constant/index.js
Due: eslint --ext .js --ext .jsx packages/setup/src/**/**/*.js --fix, prettier --write "packages/setup/src/**/**/*.js"

v0.62.0
  lerna.json
  packages/components/package-lock.json
  packages/components/package.json
  packages/css/package-lock.json
  packages/css/package.json
  packages/library/package-lock.json
  packages/library/package.json
  packages/setup/package-lock.json
  packages/setup/package.json
Due: none

bumpstack papillonbits comply with redux v4.2.1 and eslint v8.33.0
  package-lock.json
  package.json
Due: none

v0.63.0
  lerna.json
  packages/components/package-lock.json
  packages/components/package.json
  packages/css/package-lock.json
  packages/css/package.json
  packages/library/package-lock.json
  packages/library/package.json
  packages/setup/package-lock.json
  packages/setup/package.json
Due: none

bumpstack papillonbits comply with node v19.6.0 npm v9.4.0 sass v1.58.0
  package-lock.json
  package.json
Due: none

v0.64.0
  lerna.json
  packages/components/package-lock.json
  packages/components/package.json
  packages/css/package-lock.json
  packages/css/package.json
  packages/library/package-lock.json
  packages/library/package.json
  packages/setup/package-lock.json
  packages/setup/package.json
Due: none

add new icons
  packages/components/src/primer/SVG/icon/chevron-up-12.svg
  packages/components/src/primer/SVG/icon/fiscal-host-16.svg
  packages/components/src/primer/SVG/icon/goal-16.svg
  packages/components/src/primer/SVG/icon/goal-24.svg
  packages/components/src/primer/SVG/icon/move-to-bottom-16.svg
  packages/components/src/primer/SVG/icon/move-to-bottom-24.svg
  packages/components/src/primer/SVG/icon/move-to-end-16.svg
  packages/components/src/primer/SVG/icon/move-to-end-24.svg
  packages/components/src/primer/SVG/icon/move-to-start-16.svg
  packages/components/src/primer/SVG/icon/move-to-start-24.svg
  packages/components/src/primer/SVG/icon/move-to-top-16.svg
  packages/components/src/primer/SVG/icon/move-to-top-24.svg
  packages/components/src/primer/SVG/icon/read-16.svg
  packages/components/src/primer/SVG/icon/read-24.svg
  packages/components/src/primer/SVG/icon/rel-file-path-16.svg
  packages/components/src/primer/SVG/icon/rel-file-path-24.svg
  packages/components/src/primer/SVG/icon/sparkle-fill-16.svg
  packages/components/src/primer/SVG/icon/sponsor-tiers-16.svg
  packages/components/src/primer/SVG/icon/sponsor-tiers-24.svg
  packages/components/src/primer/SVG/icon/unlink-16.svg
  packages/components/src/primer/SVG/icon/unlink-24.svg
  packages/components/src/primer/SVG/icon/unread-16.svg
  packages/components/src/primer/SVG/icon/unread-24.svg
Due: none

add new icons
  packages/components/src/primer/SVG/icon/git-merge-queue-24.svg
Due: none

update icons to primer/octicons v17.11.1
  packages/components/src/primer/Icon/Icon.part.js
  packages/components/src/primer/Icon/Icon.prop.js
  packages/components/src/primer/Icon/__tests__/__snapshots__/Icon.int.test.js.snap
Due: eslint --ext .js --ext .jsx packages/components/src/**/**/*.{js,jsx} --fix, prettier --write "packages/components/src/**/**/*.{js,jsx}"

pin stylelint-config-standard version to v29.0.0
  bumpstack.sh
  package-lock.json
  package.json
  packages/components/package-lock.json
Due: none

update css to primer/css v20.8.2 without view components alpha and beta
  packages/css/src/primer/base/base.scss
  packages/css/src/primer/base/normalize.scss
  packages/css/src/primer/support/mixins/typography.scss
  packages/css/src/primer/support/variables/layout.scss
  packages/css/src/primer/support/variables/misc.scss
  packages/css/src/primer/support/variables/typography.scss
  packages/css/src/primer/truncate/truncate.scss
  packages/css/src/primer/utilities/borders.scss
  packages/css/src/primer/utilities/margin.scss
  packages/css/src/primer/utilities/padding.scss
  packages/css/src/primer/utilities/typography.scss
Due: none

bump core-js version to v3.28.0
  packages/setup/src/webpack/constant/index.js
Due: eslint --ext .js --ext .jsx packages/setup/src/**/**/*.js --fix, prettier --write "packages/setup/src/**/**/*.js"

v0.65.0
  lerna.json
  packages/components/package-lock.json
  packages/components/package.json
  packages/css/package-lock.json
  packages/css/package.json
  packages/library/package-lock.json
  packages/library/package.json
  packages/setup/package-lock.json
  packages/setup/package.json
Due: none

replace ~ in import statements with node_modules
  packages/components/src/primer/Alert/Alert.scss
  packages/components/src/primer/Blankslate/Blankslate.scss
  packages/components/src/primer/Box/box.scss
  packages/components/src/primer/BranchName/branch-name.scss
  packages/components/src/primer/Breadcrumb/Breadcrumb.scss
  packages/components/src/primer/Button/Button.scss
  packages/components/src/primer/Button/ButtonGroup.scss
  packages/components/src/primer/Button/misc.scss
  packages/components/src/primer/Dropdown/Dropdown.scss
  packages/components/src/primer/Form/form-control.scss
  packages/components/src/primer/Form/form-select.scss
  packages/components/src/primer/Label/counters.scss
  packages/components/src/primer/Label/mixins.scss
  packages/components/src/primer/Label/states.scss
  packages/components/src/primer/Layout/container.scss
  packages/components/src/primer/Layout/grid-offset.scss
  packages/components/src/primer/Layout/grid.scss
  packages/components/src/primer/Navigation/Menu/Menu.scss
  packages/components/src/primer/Navigation/TabNav/TabNav.scss
  packages/components/src/primer/Navigation/UnderlineNav/UnderlineNav.scss
  packages/components/src/primer/Pagination/PreviousNext/PreviousNext.scss
  packages/components/src/primer/Popover/Popover.scss
  packages/components/src/primer/Progress/Progress.scss
  packages/components/src/primer/Select/Select.scss
  packages/components/src/primer/SelectMenu/SelectMenu.scss
  packages/components/src/primer/Subhead/Subhead.scss
  packages/components/src/primer/Toast/Toast.scss
Due: stylelint "packages/components/src/**/**/*.scss" --custom-syntax=postcss-scss --fix, prettier --write "packages/components/src/**/**/*.scss"

update components package-lock
  packages/components/package-lock.json
Due: none

v0.66.0
  lerna.json
  packages/components/package-lock.json
  packages/components/package.json
  packages/css/package-lock.json
  packages/css/package.json
  packages/library/package-lock.json
  packages/library/package.json
  packages/setup/package-lock.json
  packages/setup/package.json
Due: none

replace ~ in import statements
  package-lock.json
  package.json
  packages/components/package-lock.json
  packages/components/package.json
Due: none

v0.67.0
  lerna.json
  packages/components/package-lock.json
  packages/components/package.json
  packages/css/package-lock.json
  packages/css/package.json
  packages/library/package-lock.json
  packages/library/package.json
  packages/setup/package-lock.json
  packages/setup/package.json
Due: none

replace ~ in import statements
  packages/components/src/primer/Alert/Alert.scss
  packages/components/src/primer/Blankslate/Blankslate.scss
  packages/components/src/primer/Box/box.scss
  packages/components/src/primer/BranchName/branch-name.scss
  packages/components/src/primer/Breadcrumb/Breadcrumb.scss
  packages/components/src/primer/Button/Button.scss
  packages/components/src/primer/Button/ButtonGroup.scss
  packages/components/src/primer/Button/misc.scss
  packages/components/src/primer/Dropdown/Dropdown.scss
  packages/components/src/primer/Form/form-control.scss
  packages/components/src/primer/Form/form-select.scss
  packages/components/src/primer/Label/counters.scss
  packages/components/src/primer/Label/mixins.scss
  packages/components/src/primer/Label/states.scss
  packages/components/src/primer/Layout/container.scss
  packages/components/src/primer/Layout/grid-offset.scss
  packages/components/src/primer/Layout/grid.scss
  packages/components/src/primer/Navigation/Menu/Menu.scss
  packages/components/src/primer/Navigation/TabNav/TabNav.scss
  packages/components/src/primer/Navigation/UnderlineNav/UnderlineNav.scss
  packages/components/src/primer/Pagination/PreviousNext/PreviousNext.scss
  packages/components/src/primer/Popover/Popover.scss
  packages/components/src/primer/Progress/Progress.scss
  packages/components/src/primer/Select/Select.scss
  packages/components/src/primer/SelectMenu/SelectMenu.scss
  packages/components/src/primer/Subhead/Subhead.scss
  packages/components/src/primer/Toast/Toast.scss
Due: stylelint "packages/components/src/**/**/*.scss" --custom-syntax=postcss-scss --fix, prettier --write "packages/components/src/**/**/*.scss"

v0.68.0
  lerna.json
  packages/components/package-lock.json
  packages/components/package.json
  packages/css/package-lock.json
  packages/css/package.json
  packages/library/package-lock.json
  packages/library/package.json
  packages/setup/package-lock.json
  packages/setup/package.json
Due: none

bumpstack papillonbits comply with node v19.6.0 npm v9.4.0
  package-lock.json
  package.json
Due: none

v0.69.0
  lerna.json
  packages/components/package-lock.json
  packages/components/package.json
  packages/css/package-lock.json
  packages/css/package.json
  packages/library/package-lock.json
  packages/library/package.json
  packages/setup/package-lock.json
  packages/setup/package.json
Due: none

install papillonbits latest
  package-lock.json
  package.json
Due: none

v0.70.0
  lerna.json
  packages/components/package-lock.json
  packages/components/package.json
  packages/css/package-lock.json
  packages/css/package.json
  packages/library/package-lock.json
  packages/library/package.json
  packages/setup/package-lock.json
  packages/setup/package.json
Due: none

bumpstack papillonbits
  package-lock.json
  package.json
  packages/setup/src/webpack/constant/index.js
Due: eslint --ext .js --ext .jsx packages/setup/src/**/**/*.js --fix, prettier --write "packages/setup/src/**/**/*.js"

bumpstack papillonbits comply with node v19.7.0 npm v9.5.0
  package-lock.json
  package.json
Due: none

v0.71.0
  lerna.json
  packages/components/package-lock.json
  packages/components/package.json
  packages/css/package-lock.json
  packages/css/package.json
  packages/library/package-lock.json
  packages/library/package.json
  packages/setup/package-lock.json
  packages/setup/package.json
Due: none

bumpstack papillonbits comply with webpack v5.76.0
  package-lock.json
  package.json
Due: none

v0.72.0
  lerna.json
  packages/components/package-lock.json
  packages/components/package.json
  packages/css/package-lock.json
  packages/css/package.json
  packages/library/package-lock.json
  packages/library/package.json
  packages/setup/package-lock.json
  packages/setup/package.json
Due: none

bumpstack papillonbits comply with node v19.8.0 npm v9.5.1
  package-lock.json
  package.json
  packages/setup/src/webpack/constant/index.js
Due: eslint --ext .js --ext .jsx packages/setup/src/**/**/*.js --fix, prettier --write "packages/setup/src/**/**/*.js"

Path conditions:
  eslint --ext .js --ext .jsx packages/components/src/**/**/*.{js,jsx} --fix: any of: packages/components/src/**/*.{js,jsx}
  prettier --write "packages/components/src/**/**/*.{js,jsx}": any of: packages/components/src/**/*.{js,jsx}
  eslint --ext .js --ext .jsx packages/library/src/**/**/*.js --fix: any of: packages/library/src/**/*.js
  prettier --write "packages/library/src/**/**/*.js": any of: packages/library/src/**/*.js
  eslint --ext .js --ext .jsx packages/setup/src/**/**/*.js --fix: any of: packages/setup/src/**/*.js
  prettier --write "packages/setup/src/**/**/*.js": any of: packages/setup/src/**/*.js
  stylelint "packages/components/src/**/**/*.scss" --custom-syntax=postcss-scss --fix: any of: packages/components/src/**/*.scss
  prettier --write "packages/components/src/**/**/*.scss": any of: packages/components/src/**/*.scss
